@-webkit-keyframes pop-icon-in {
  /* line 6, assetic_compassM2BQH5.scss */
  0% {
    opacity: 0;
    /* Good browsers */
    -moz-opacity: 0;
    /* Netscape */
    -khtml-opacity: 0;
    /* Safari 1.x */
    filter: alpha(opacity=0);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 8 */
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }

  /* line 11, assetic_compassM2BQH5.scss */
  50% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }

  /* line 14, assetic_compassM2BQH5.scss */
  100% {
    opacity: 0.8;
    /* Good browsers */
    -moz-opacity: 0.8;
    /* Netscape */
    -khtml-opacity: 0.8;
    /* Safari 1.x */
    filter: alpha(opacity=80);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    /* IE 8 */
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@-moz-keyframes pop-icon-in {
  /* line 6, assetic_compassM2BQH5.scss */
  0% {
    opacity: 0;
    /* Good browsers */
    -moz-opacity: 0;
    /* Netscape */
    -khtml-opacity: 0;
    /* Safari 1.x */
    filter: alpha(opacity=0);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 8 */
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }

  /* line 11, assetic_compassM2BQH5.scss */
  50% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }

  /* line 14, assetic_compassM2BQH5.scss */
  100% {
    opacity: 0.8;
    /* Good browsers */
    -moz-opacity: 0.8;
    /* Netscape */
    -khtml-opacity: 0.8;
    /* Safari 1.x */
    filter: alpha(opacity=80);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    /* IE 8 */
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@-ms-keyframes pop-icon-in {
  /* line 6, assetic_compassM2BQH5.scss */
  0% {
    opacity: 0;
    /* Good browsers */
    -moz-opacity: 0;
    /* Netscape */
    -khtml-opacity: 0;
    /* Safari 1.x */
    filter: alpha(opacity=0);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 8 */
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }

  /* line 11, assetic_compassM2BQH5.scss */
  50% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }

  /* line 14, assetic_compassM2BQH5.scss */
  100% {
    opacity: 0.8;
    /* Good browsers */
    -moz-opacity: 0.8;
    /* Netscape */
    -khtml-opacity: 0.8;
    /* Safari 1.x */
    filter: alpha(opacity=80);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    /* IE 8 */
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@-o-keyframes pop-icon-in {
  /* line 6, assetic_compassM2BQH5.scss */
  0% {
    opacity: 0;
    /* Good browsers */
    -moz-opacity: 0;
    /* Netscape */
    -khtml-opacity: 0;
    /* Safari 1.x */
    filter: alpha(opacity=0);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 8 */
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }

  /* line 11, assetic_compassM2BQH5.scss */
  50% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }

  /* line 14, assetic_compassM2BQH5.scss */
  100% {
    opacity: 0.8;
    /* Good browsers */
    -moz-opacity: 0.8;
    /* Netscape */
    -khtml-opacity: 0.8;
    /* Safari 1.x */
    filter: alpha(opacity=80);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    /* IE 8 */
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pop-icon-in {
  /* line 6, assetic_compassM2BQH5.scss */
  0% {
    opacity: 0;
    /* Good browsers */
    -moz-opacity: 0;
    /* Netscape */
    -khtml-opacity: 0;
    /* Safari 1.x */
    filter: alpha(opacity=0);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 8 */
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }

  /* line 11, assetic_compassM2BQH5.scss */
  50% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }

  /* line 14, assetic_compassM2BQH5.scss */
  100% {
    opacity: 0.8;
    /* Good browsers */
    -moz-opacity: 0.8;
    /* Netscape */
    -khtml-opacity: 0.8;
    /* Safari 1.x */
    filter: alpha(opacity=80);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    /* IE 8 */
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes pop-icon-out {
  /* line 21, assetic_compassM2BQH5.scss */
  0% {
    opacity: 0.8;
    /* Good browsers */
    -moz-opacity: 0.8;
    /* Netscape */
    -khtml-opacity: 0.8;
    /* Safari 1.x */
    filter: alpha(opacity=80);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    /* IE 8 */
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  /* line 25, assetic_compassM2BQH5.scss */
  100% {
    opacity: 0;
    /* Good browsers */
    -moz-opacity: 0;
    /* Netscape */
    -khtml-opacity: 0;
    /* Safari 1.x */
    filter: alpha(opacity=0);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 8 */
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
}

@-moz-keyframes pop-icon-out {
  /* line 21, assetic_compassM2BQH5.scss */
  0% {
    opacity: 0.8;
    /* Good browsers */
    -moz-opacity: 0.8;
    /* Netscape */
    -khtml-opacity: 0.8;
    /* Safari 1.x */
    filter: alpha(opacity=80);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    /* IE 8 */
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  /* line 25, assetic_compassM2BQH5.scss */
  100% {
    opacity: 0;
    /* Good browsers */
    -moz-opacity: 0;
    /* Netscape */
    -khtml-opacity: 0;
    /* Safari 1.x */
    filter: alpha(opacity=0);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 8 */
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
}

@-ms-keyframes pop-icon-out {
  /* line 21, assetic_compassM2BQH5.scss */
  0% {
    opacity: 0.8;
    /* Good browsers */
    -moz-opacity: 0.8;
    /* Netscape */
    -khtml-opacity: 0.8;
    /* Safari 1.x */
    filter: alpha(opacity=80);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    /* IE 8 */
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  /* line 25, assetic_compassM2BQH5.scss */
  100% {
    opacity: 0;
    /* Good browsers */
    -moz-opacity: 0;
    /* Netscape */
    -khtml-opacity: 0;
    /* Safari 1.x */
    filter: alpha(opacity=0);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 8 */
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
}

@-o-keyframes pop-icon-out {
  /* line 21, assetic_compassM2BQH5.scss */
  0% {
    opacity: 0.8;
    /* Good browsers */
    -moz-opacity: 0.8;
    /* Netscape */
    -khtml-opacity: 0.8;
    /* Safari 1.x */
    filter: alpha(opacity=80);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    /* IE 8 */
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  /* line 25, assetic_compassM2BQH5.scss */
  100% {
    opacity: 0;
    /* Good browsers */
    -moz-opacity: 0;
    /* Netscape */
    -khtml-opacity: 0;
    /* Safari 1.x */
    filter: alpha(opacity=0);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 8 */
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
}

@keyframes pop-icon-out {
  /* line 21, assetic_compassM2BQH5.scss */
  0% {
    opacity: 0.8;
    /* Good browsers */
    -moz-opacity: 0.8;
    /* Netscape */
    -khtml-opacity: 0.8;
    /* Safari 1.x */
    filter: alpha(opacity=80);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    /* IE 8 */
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  /* line 25, assetic_compassM2BQH5.scss */
  100% {
    opacity: 0;
    /* Good browsers */
    -moz-opacity: 0;
    /* Netscape */
    -khtml-opacity: 0;
    /* Safari 1.x */
    filter: alpha(opacity=0);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 8 */
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
}

@-webkit-keyframes make-opacity-in {
  /* line 32, assetic_compassM2BQH5.scss */
  0% {
    opacity: 0;
    /* Good browsers */
    -moz-opacity: 0;
    /* Netscape */
    -khtml-opacity: 0;
    /* Safari 1.x */
    filter: alpha(opacity=0);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 8 */
  }

  /* line 35, assetic_compassM2BQH5.scss */
  100% {
    opacity: 1;
    /* Good browsers */
    -moz-opacity: 1;
    /* Netscape */
    -khtml-opacity: 1;
    /* Safari 1.x */
    filter: alpha(opacity=100);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    /* IE 8 */
  }
}

@-moz-keyframes make-opacity-in {
  /* line 32, assetic_compassM2BQH5.scss */
  0% {
    opacity: 0;
    /* Good browsers */
    -moz-opacity: 0;
    /* Netscape */
    -khtml-opacity: 0;
    /* Safari 1.x */
    filter: alpha(opacity=0);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 8 */
  }

  /* line 35, assetic_compassM2BQH5.scss */
  100% {
    opacity: 1;
    /* Good browsers */
    -moz-opacity: 1;
    /* Netscape */
    -khtml-opacity: 1;
    /* Safari 1.x */
    filter: alpha(opacity=100);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    /* IE 8 */
  }
}

@-ms-keyframes make-opacity-in {
  /* line 32, assetic_compassM2BQH5.scss */
  0% {
    opacity: 0;
    /* Good browsers */
    -moz-opacity: 0;
    /* Netscape */
    -khtml-opacity: 0;
    /* Safari 1.x */
    filter: alpha(opacity=0);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 8 */
  }

  /* line 35, assetic_compassM2BQH5.scss */
  100% {
    opacity: 1;
    /* Good browsers */
    -moz-opacity: 1;
    /* Netscape */
    -khtml-opacity: 1;
    /* Safari 1.x */
    filter: alpha(opacity=100);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    /* IE 8 */
  }
}

@-o-keyframes make-opacity-in {
  /* line 32, assetic_compassM2BQH5.scss */
  0% {
    opacity: 0;
    /* Good browsers */
    -moz-opacity: 0;
    /* Netscape */
    -khtml-opacity: 0;
    /* Safari 1.x */
    filter: alpha(opacity=0);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 8 */
  }

  /* line 35, assetic_compassM2BQH5.scss */
  100% {
    opacity: 1;
    /* Good browsers */
    -moz-opacity: 1;
    /* Netscape */
    -khtml-opacity: 1;
    /* Safari 1.x */
    filter: alpha(opacity=100);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    /* IE 8 */
  }
}

@keyframes make-opacity-in {
  /* line 32, assetic_compassM2BQH5.scss */
  0% {
    opacity: 0;
    /* Good browsers */
    -moz-opacity: 0;
    /* Netscape */
    -khtml-opacity: 0;
    /* Safari 1.x */
    filter: alpha(opacity=0);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 8 */
  }

  /* line 35, assetic_compassM2BQH5.scss */
  100% {
    opacity: 1;
    /* Good browsers */
    -moz-opacity: 1;
    /* Netscape */
    -khtml-opacity: 1;
    /* Safari 1.x */
    filter: alpha(opacity=100);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    /* IE 8 */
  }
}

@-webkit-keyframes make-opacity-out {
  /* line 41, assetic_compassM2BQH5.scss */
  0% {
    opacity: 1;
    /* Good browsers */
    -moz-opacity: 1;
    /* Netscape */
    -khtml-opacity: 1;
    /* Safari 1.x */
    filter: alpha(opacity=100);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    /* IE 8 */
  }

  /* line 44, assetic_compassM2BQH5.scss */
  100% {
    opacity: 0;
    /* Good browsers */
    -moz-opacity: 0;
    /* Netscape */
    -khtml-opacity: 0;
    /* Safari 1.x */
    filter: alpha(opacity=0);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 8 */
  }
}

@-moz-keyframes make-opacity-out {
  /* line 41, assetic_compassM2BQH5.scss */
  0% {
    opacity: 1;
    /* Good browsers */
    -moz-opacity: 1;
    /* Netscape */
    -khtml-opacity: 1;
    /* Safari 1.x */
    filter: alpha(opacity=100);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    /* IE 8 */
  }

  /* line 44, assetic_compassM2BQH5.scss */
  100% {
    opacity: 0;
    /* Good browsers */
    -moz-opacity: 0;
    /* Netscape */
    -khtml-opacity: 0;
    /* Safari 1.x */
    filter: alpha(opacity=0);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 8 */
  }
}

@-ms-keyframes make-opacity-out {
  /* line 41, assetic_compassM2BQH5.scss */
  0% {
    opacity: 1;
    /* Good browsers */
    -moz-opacity: 1;
    /* Netscape */
    -khtml-opacity: 1;
    /* Safari 1.x */
    filter: alpha(opacity=100);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    /* IE 8 */
  }

  /* line 44, assetic_compassM2BQH5.scss */
  100% {
    opacity: 0;
    /* Good browsers */
    -moz-opacity: 0;
    /* Netscape */
    -khtml-opacity: 0;
    /* Safari 1.x */
    filter: alpha(opacity=0);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 8 */
  }
}

@-o-keyframes make-opacity-out {
  /* line 41, assetic_compassM2BQH5.scss */
  0% {
    opacity: 1;
    /* Good browsers */
    -moz-opacity: 1;
    /* Netscape */
    -khtml-opacity: 1;
    /* Safari 1.x */
    filter: alpha(opacity=100);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    /* IE 8 */
  }

  /* line 44, assetic_compassM2BQH5.scss */
  100% {
    opacity: 0;
    /* Good browsers */
    -moz-opacity: 0;
    /* Netscape */
    -khtml-opacity: 0;
    /* Safari 1.x */
    filter: alpha(opacity=0);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 8 */
  }
}

@keyframes make-opacity-out {
  /* line 41, assetic_compassM2BQH5.scss */
  0% {
    opacity: 1;
    /* Good browsers */
    -moz-opacity: 1;
    /* Netscape */
    -khtml-opacity: 1;
    /* Safari 1.x */
    filter: alpha(opacity=100);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    /* IE 8 */
  }

  /* line 44, assetic_compassM2BQH5.scss */
  100% {
    opacity: 0;
    /* Good browsers */
    -moz-opacity: 0;
    /* Netscape */
    -khtml-opacity: 0;
    /* Safari 1.x */
    filter: alpha(opacity=0);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 8 */
  }
}

/* line 49, assetic_compassM2BQH5.scss */
body {
  background-color: black;
}

/* line 53, assetic_compassM2BQH5.scss */
#wrapper {
  height: 100%;
  position: relative;
}
/* line 57, assetic_compassM2BQH5.scss */
#wrapper:before, #wrapper:after {
  content: '';
  position: absolute;
  background: url("/bundles/imhbase/images/points.png") repeat scroll 2px -2px;
  height: 100px;
  width: 100%;
  opacity: 0.8;
  /* Good browsers */
  -moz-opacity: 0.8;
  /* Netscape */
  -khtml-opacity: 0.8;
  /* Safari 1.x */
  filter: alpha(opacity=80);
  /* IE 5-7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  /* IE 8 */
}
/* line 66, assetic_compassM2BQH5.scss */
#wrapper:before {
  top: 0;
}
/* line 70, assetic_compassM2BQH5.scss */
#wrapper:after {
  bottom: 3px;
}
/* line 74, assetic_compassM2BQH5.scss */
#wrapper #sidebar-main {
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.95);
  padding: 0 100px;
  height: 100%;
    /*.block-triangle {
      @include opacity(.95);
      border-bottom-color: $color-white;

      &+.navigation-menu {
        margin-top: 130px;
      }
    }*/
}
/* line 94, assetic_compassM2BQH5.scss */
#wrapper #sidebar-main .gallery-menu li.first, #wrapper #sidebar-main .navigation-menu > span {
  color: #898989;
}
/* line 98, assetic_compassM2BQH5.scss */
#wrapper #sidebar-main .navigation-menu {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: static;
  display: block;
  height: 50%;
  padding-top: 50%;
}
/* line 108, assetic_compassM2BQH5.scss */
#wrapper #sidebar-main .navigation-menu.gallery-menu > ul {
  border: none;
  margin: 0;
}
/* line 114, assetic_compassM2BQH5.scss */
#wrapper #sidebar-main .navigation-menu ul {
  background: black;
  border: 1px solid #3f3f3f;
}
/* line 119, assetic_compassM2BQH5.scss */
#wrapper #sidebar-main .navigation-menu ul li a {
  color: lightgrey;
  white-space: nowrap;
}
/* line 125, assetic_compassM2BQH5.scss */
#wrapper #sidebar-main .navigation-menu ul li:hover:after {
  background-color: white;
  border-color: white;
}
/* line 133, assetic_compassM2BQH5.scss */
#wrapper #sidebar-main .navigation-menu ul li.current a, #wrapper #sidebar-main .navigation-menu ul li.current span {
  background: black;
  border-color: #3f3f3f;
  color: lightgrey;
}
/* line 139, assetic_compassM2BQH5.scss */
#wrapper #sidebar-main .navigation-menu ul li.current:after {
  background-color: white;
  border-color: white;
  box-shadow: none;
}
/* line 146, assetic_compassM2BQH5.scss */
#wrapper #sidebar-main .navigation-menu ul li:first-child {
  margin-top: 17px;
}
/* line 150, assetic_compassM2BQH5.scss */
#wrapper #sidebar-main .navigation-menu ul li:last-child {
  margin-bottom: 17px;
}
/* line 154, assetic_compassM2BQH5.scss */
#wrapper #sidebar-main .navigation-menu ul li:after {
  border-color: #222222;
}

/* line 162, assetic_compassM2BQH5.scss */
#content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: -webkit-calc(100% - 200px);
  height: calc(100% - 200px);
  padding: 1.5%;
  width: 100%;
  position: relative;
  top: 100px;
}
/* line 170, assetic_compassM2BQH5.scss */
#content #gallery-wrapper {
  -webkit-transition: opacity 0.3s linear 0.5s;
  -moz-transition: opacity 0.3s linear 0.5s;
  -o-transition: opacity 0.3s linear 0.5s;
  transition: opacity 0.3s linear 0.5s;
  height: 100%;
  position: relative;
    /*#trigger {
      position: absolute;
      right: 18%;
      top: 0;
      width: 30px;
      height: 100%;
      z-index: 9999;

      a {
        position: relative;
        top: 50%;
        margin-top: -32px;
        display: block;

        img {
          background: url("/bundles/imhbase/images/sprite.png") no-repeat scroll -2px -242px;
          height: 64px;
          width: 30px;
          display: block;
        }
        &:hover {
          img {
            background-position: -33px -242px;
          }
        }
      }
    }*/
}
/* line 175, assetic_compassM2BQH5.scss */
#content #gallery-wrapper #frame {
  height: 100%;
}
/* line 207, assetic_compassM2BQH5.scss */
#content #gallery-wrapper #trigger {
  display: none;
}
/* line 211, assetic_compassM2BQH5.scss */
#content #gallery-wrapper.loading {
  -webkit-transition: opacity 0.2s linear 0s;
  -moz-transition: opacity 0.2s linear 0s;
  -o-transition: opacity 0.2s linear 0s;
  transition: opacity 0.2s linear 0s;
  opacity: 0;
  /* Good browsers */
  -moz-opacity: 0;
  /* Netscape */
  -khtml-opacity: 0;
  /* Safari 1.x */
  filter: alpha(opacity=0);
  /* IE 5-7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 8 */
}
/* line 215, assetic_compassM2BQH5.scss */
#content #gallery-wrapper.loading + #spinner {
  -webkit-transition: opacity 0.2s linear 0.3s;
  -moz-transition: opacity 0.2s linear 0.3s;
  -o-transition: opacity 0.2s linear 0.3s;
  transition: opacity 0.2s linear 0.3s;
  opacity: 1;
  /* Good browsers */
  -moz-opacity: 1;
  /* Netscape */
  -khtml-opacity: 1;
  /* Safari 1.x */
  filter: alpha(opacity=100);
  /* IE 5-7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  /* IE 8 */
}
/* line 222, assetic_compassM2BQH5.scss */
#content #scrollbar {
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 100%;
  z-index: 1;
}
/* line 230, assetic_compassM2BQH5.scss */
#content #scrollbar:after {
  -webkit-transition: width 0.4s ease 0s;
  -moz-transition: width 0.4s ease 0s;
  -o-transition: width 0.4s ease 0s;
  transition: width 0.4s ease 0s;
  content: '';
  position: absolute;
  height: 2px;
  width: 0;
  top: 0;
  background: #222222;
}
/* line 240, assetic_compassM2BQH5.scss */
#content #scrollbar .handle {
  opacity: 0;
  /* Good browsers */
  -moz-opacity: 0;
  /* Netscape */
  -khtml-opacity: 0;
  /* Safari 1.x */
  filter: alpha(opacity=0);
  /* IE 5-7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 8 */
  -webkit-transition: background .2s linear, opacity .2s ease .4s, width .2s ease;
  -moz-transition: background .2s linear, opacity .2s ease .4s, width .2s ease;
  -ms-transition: background .2s linear, opacity .2s ease .4s, width .2s ease;
  /* IE10 is actually unprefixed */
  -o-transition: background .2s linear, opacity .2s ease .4s, width .2s ease;
  transition: background .2s linear, opacity .2s ease .4s, width .2s ease;
  cursor: pointer;
  background: #3f3f3f;
  width: 100px;
  /* overriden if dynamicHandle: 1 */
  height: 100%;
  position: relative;
  z-index: 1;
}
/* line 255, assetic_compassM2BQH5.scss */
#content #scrollbar .handle:hover {
  background: lightgrey;
}
/* line 259, assetic_compassM2BQH5.scss */
#content #scrollbar .handle .mousearea {
  position: absolute;
  top: -31px;
  left: 0;
  height: 128px;
  width: 100%;
}
/* line 269, assetic_compassM2BQH5.scss */
#content #scrollbar.mA_2 .handle {
  opacity: 1;
  /* Good browsers */
  -moz-opacity: 1;
  /* Netscape */
  -khtml-opacity: 1;
  /* Safari 1.x */
  filter: alpha(opacity=100);
  /* IE 5-7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  /* IE 8 */
}
/* line 273, assetic_compassM2BQH5.scss */
#content #scrollbar.mA_2:after {
  width: 100%;
}
/* line 279, assetic_compassM2BQH5.scss */
#content #sonata-media-gallery-media-list {
  height: 100%;
}
/* line 282, assetic_compassM2BQH5.scss */
#content #sonata-media-gallery-media-list .sonata-media-gallery-media-item {
  height: 50%;
  -webkit-transition: opacity 0.5s linear 0s;
  -moz-transition: opacity 0.5s linear 0s;
  -o-transition: opacity 0.5s linear 0s;
  transition: opacity 0.5s linear 0s;
}
/* line 286, assetic_compassM2BQH5.scss */
#content #sonata-media-gallery-media-list .sonata-media-gallery-media-item.mA_1 {
  opacity: 0.1;
  /* Good browsers */
  -moz-opacity: 0.1;
  /* Netscape */
  -khtml-opacity: 0.1;
  /* Safari 1.x */
  filter: alpha(opacity=10);
  /* IE 5-7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
  /* IE 8 */
}
/* line 289, assetic_compassM2BQH5.scss */
#content #sonata-media-gallery-media-list .sonata-media-gallery-media-item.mA_1 .sonata-media-gallery-media-item-link {
  cursor: default;
}
/* line 292, assetic_compassM2BQH5.scss */
#content #sonata-media-gallery-media-list .sonata-media-gallery-media-item.mA_1 .sonata-media-gallery-media-item-link:hover .media-object {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/* line 296, assetic_compassM2BQH5.scss */
#content #sonata-media-gallery-media-list .sonata-media-gallery-media-item.mA_1 .sonata-media-gallery-media-item-link:after {
  display: none;
}
/* line 307, assetic_compassM2BQH5.scss */
#content #sonata-media-gallery-media-list .sonata-media-gallery-media-item .sonata-media-gallery-media-item-link {
  display: block;
  overflow: hidden;
  position: relative;
  height: 100%;
  cursor: default;
        /*.media-bar {
          background-color: rgb(0, 0, 0);
          background-color: rgba(0, 0, 0, 0.8);
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 70px;

          @include transform(translate(0, 100%));
          -webkit-transition:-webkit-transform .3s cubic-bezier(0,.92,.08,1) .2s;
          -moz-transition:   -moz-transform .3s cubic-bezier(0,.92,.08,1) .2s;
          -ms-transition:    -ms-transform .3s cubic-bezier(0,.92,.08,1) .2s;
          transition:        transform .3s cubic-bezier(0,.92,.08,1) .2s;

          .media-description {
            float: left;
            color: $color-white;
            margin: 0 0 0 10px;
            height: 37px;
            line-height: 37px;
            font-weight: bold;
          }
        }*/
}
/* line 314, assetic_compassM2BQH5.scss */
#content #sonata-media-gallery-media-list .sonata-media-gallery-media-item .sonata-media-gallery-media-item-link .media-object {
  -webkit-transition: all 1s ease 0s;
  -moz-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  -webkit-backface-visibility: hidden;
  display: block;
  height: 100%;
  width: auto;
}
/* line 322, assetic_compassM2BQH5.scss */
#content #sonata-media-gallery-media-list .sonata-media-gallery-media-item .sonata-media-gallery-media-item-link .media-btns {
  display: none;
}
/* line 351, assetic_compassM2BQH5.scss */
#content #sonata-media-gallery-media-list .sonata-media-gallery-media-item .sonata-media-gallery-media-item-link .plus-icon {
  opacity: 0;
  /* Good browsers */
  -moz-opacity: 0;
  /* Netscape */
  -khtml-opacity: 0;
  /* Safari 1.x */
  filter: alpha(opacity=0);
  /* IE 5-7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 8 */
  -webkit-animation: pop-icon-out .2s;
  -moz-animation: pop-icon-out .2s;
  -ms-animation: pop-icon-out .2s;
  -o-animation: pop-icon-out .2s;
  animation: pop-icon-out .2s;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px;
  height: 3px;
  background: black;
}
/* line 364, assetic_compassM2BQH5.scss */
#content #sonata-media-gallery-media-list .sonata-media-gallery-media-item .sonata-media-gallery-media-item-link .plus-icon:before, #content #sonata-media-gallery-media-list .sonata-media-gallery-media-item .sonata-media-gallery-media-item-link .plus-icon:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  background: white;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/* line 373, assetic_compassM2BQH5.scss */
#content #sonata-media-gallery-media-list .sonata-media-gallery-media-item .sonata-media-gallery-media-item-link .plus-icon:before {
  width: 1px;
  height: 18px;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
/* line 379, assetic_compassM2BQH5.scss */
#content #sonata-media-gallery-media-list .sonata-media-gallery-media-item .sonata-media-gallery-media-item-link .plus-icon:after {
  width: 18px;
  height: 1px;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
/* line 387, assetic_compassM2BQH5.scss */
#content #sonata-media-gallery-media-list .sonata-media-gallery-media-item .sonata-media-gallery-media-item-link:hover .media-object {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
/* line 391, assetic_compassM2BQH5.scss */
#content #sonata-media-gallery-media-list .sonata-media-gallery-media-item .sonata-media-gallery-media-item-link:hover .media-bar {
  -webkit-transform: translate(0, 0%);
  -moz-transform: translate(0, 0%);
  -o-transform: translate(0, 0%);
  transform: translate(0, 0%);
}
/* line 395, assetic_compassM2BQH5.scss */
#content #sonata-media-gallery-media-list .sonata-media-gallery-media-item .sonata-media-gallery-media-item-link:hover .plus-icon {
  -webkit-animation: pop-icon-in .4s;
  -moz-animation: pop-icon-in .4s;
  -ms-animation: pop-icon-in .4s;
  -o-animation: pop-icon-in .4s;
  animation: pop-icon-in .4s;
  opacity: 0.8;
  /* Good browsers */
  -moz-opacity: 0.8;
  /* Netscape */
  -khtml-opacity: 0.8;
  /* Safari 1.x */
  filter: alpha(opacity=80);
  /* IE 5-7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  /* IE 8 */
}
/* line 402, assetic_compassM2BQH5.scss */
#content #sonata-media-gallery-media-list .sonata-media-gallery-media-item.expanded {
  height: 100%;
  width: auto;
}
/* line 406, assetic_compassM2BQH5.scss */
#content #sonata-media-gallery-media-list .sonata-media-gallery-media-item.expanded .sonata-media-gallery-media-item-link {
  cursor: default;
}
/* line 409, assetic_compassM2BQH5.scss */
#content #sonata-media-gallery-media-list .sonata-media-gallery-media-item.expanded .sonata-media-gallery-media-item-link .media-object {
  transition: none;
  height: 100%;
  width: auto;
}
/* line 415, assetic_compassM2BQH5.scss */
#content #sonata-media-gallery-media-list .sonata-media-gallery-media-item.expanded .sonata-media-gallery-media-item-link .media-btns {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: opacity 0.2s linear 0s;
  -moz-transition: opacity 0.2s linear 0s;
  -o-transition: opacity 0.2s linear 0s;
  transition: opacity 0.2s linear 0s;
  opacity: 0;
  /* Good browsers */
  -moz-opacity: 0;
  /* Netscape */
  -khtml-opacity: 0;
  /* Safari 1.x */
  filter: alpha(opacity=0);
  /* IE 5-7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 8 */
}
/* line 425, assetic_compassM2BQH5.scss */
#content #sonata-media-gallery-media-list .sonata-media-gallery-media-item.expanded .sonata-media-gallery-media-item-link .media-btns > span {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  height: 20px;
  line-height: 23px;
  width: 20px;
  vertical-align: middle;
  padding: 8px;
  -webkit-transition: background-color 0.2s ease-in 0s;
  -moz-transition: background-color 0.2s ease-in 0s;
  -o-transition: background-color 0.2s ease-in 0s;
  transition: background-color 0.2s ease-in 0s;
}
/* line 437, assetic_compassM2BQH5.scss */
#content #sonata-media-gallery-media-list .sonata-media-gallery-media-item.expanded .sonata-media-gallery-media-item-link .media-btns > span.zoom img {
  background: url("/bundles/imhbase/images/sprite.png") no-repeat scroll -96px -131px;
  height: 20px;
  width: 19px;
}
/* line 445, assetic_compassM2BQH5.scss */
#content #sonata-media-gallery-media-list .sonata-media-gallery-media-item.expanded .sonata-media-gallery-media-item-link .media-btns > span.close img {
  background: url("/bundles/imhbase/images/sprite.png") no-repeat scroll -115px -131px;
  height: 12px;
  width: 12px;
}
/* line 454, assetic_compassM2BQH5.scss */
#content #sonata-media-gallery-media-list .sonata-media-gallery-media-item.expanded .sonata-media-gallery-media-item-link:hover {
  /*.media-bar {
    @include transform(translate(0, 0%));
  }*/
}
/* line 455, assetic_compassM2BQH5.scss */
#content #sonata-media-gallery-media-list .sonata-media-gallery-media-item.expanded .sonata-media-gallery-media-item-link:hover .media-object {
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  transform: none;
}
/* line 459, assetic_compassM2BQH5.scss */
#content #sonata-media-gallery-media-list .sonata-media-gallery-media-item.expanded .sonata-media-gallery-media-item-link:hover .media-btns {
  opacity: 1;
  /* Good browsers */
  -moz-opacity: 1;
  /* Netscape */
  -khtml-opacity: 1;
  /* Safari 1.x */
  filter: alpha(opacity=100);
  /* IE 5-7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  /* IE 8 */
}
/* line 468, assetic_compassM2BQH5.scss */
#content #sonata-media-gallery-media-list .sonata-media-gallery-media-item.expanded .sonata-media-gallery-media-item-link:hover .media-btns > span:hover {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);
}
/* line 479, assetic_compassM2BQH5.scss */
#content #sonata-media-gallery-media-list .sonata-media-gallery-media-item.expanded .sonata-media-gallery-media-item-link:after {
  display: none;
}
/* line 487, assetic_compassM2BQH5.scss */
#content #spinner, #content #infscr-loading {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -22px 0 0 -22px;
}
/* line 493, assetic_compassM2BQH5.scss */
#content #spinner img, #content #infscr-loading img {
  display: block;
}
/* line 497, assetic_compassM2BQH5.scss */
#content #spinner {
  -webkit-transition: opacity 0.2s linear 0s;
  -moz-transition: opacity 0.2s linear 0s;
  -o-transition: opacity 0.2s linear 0s;
  transition: opacity 0.2s linear 0s;
  opacity: 0;
  /* Good browsers */
  -moz-opacity: 0;
  /* Netscape */
  -khtml-opacity: 0;
  /* Safari 1.x */
  filter: alpha(opacity=0);
  /* IE 5-7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 8 */
  margin: -19px 0 0 -19px;
  z-index: -1;
}
