/* line 4, assetic_compassDsmHUN.scss */
body {
  background-color: black;
}

/* line 8, assetic_compassDsmHUN.scss */
#wrapper {
  height: 100%;
}
/* line 11, assetic_compassDsmHUN.scss */
#wrapper #header {
  background: url("/bundles/imhbase/images/points.png") repeat scroll 2px -2px;
  height: 100px;
  width: 100%;
}
/* line 17, assetic_compassDsmHUN.scss */
#wrapper #sidebar-main {
  position: fixed;
  right: 0;
  left: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.95);
  padding-left: 7%;
  width: 13%;
}
/* line 26, assetic_compassDsmHUN.scss */
#wrapper #sidebar-main .block-triangle {
  opacity: 0.95;
  /* Good browsers */
  -moz-opacity: 0.95;
  /* Netscape */
  -khtml-opacity: 0.95;
  /* Safari 1.x */
  filter: alpha(opacity=95);
  /* IE 5-7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
  /* IE 8 */
  border-bottom-color: black;
}
/* line 30, assetic_compassDsmHUN.scss */
#wrapper #sidebar-main .block-triangle + .navigation-menu {
  margin-top: 140px;
}
/* line 35, assetic_compassDsmHUN.scss */
#wrapper #sidebar-main .gallery-menu li.first, #wrapper #sidebar-main .navigation-menu > span {
  color: #898989;
}
/* line 39, assetic_compassDsmHUN.scss */
#wrapper #sidebar-main .navigation-menu {
  position: static;
  display: block;
}
/* line 43, assetic_compassDsmHUN.scss */
#wrapper #sidebar-main .navigation-menu.gallery-menu {
  margin-top: 40px;
}
/* line 46, assetic_compassDsmHUN.scss */
#wrapper #sidebar-main .navigation-menu.gallery-menu > ul {
  border: none;
  margin: 0;
}
/* line 52, assetic_compassDsmHUN.scss */
#wrapper #sidebar-main .navigation-menu ul {
  background: black;
  border: 1px solid #3f3f3f;
}
/* line 57, assetic_compassDsmHUN.scss */
#wrapper #sidebar-main .navigation-menu ul li a {
  color: lightgrey;
  white-space: nowrap;
}
/* line 63, assetic_compassDsmHUN.scss */
#wrapper #sidebar-main .navigation-menu ul li:hover:after {
  background-color: white;
  border-color: white;
}
/* line 71, assetic_compassDsmHUN.scss */
#wrapper #sidebar-main .navigation-menu ul li.current a, #wrapper #sidebar-main .navigation-menu ul li.current span {
  background: black;
  border-color: #3f3f3f;
  color: lightgrey;
}
/* line 77, assetic_compassDsmHUN.scss */
#wrapper #sidebar-main .navigation-menu ul li.current:after {
  background-color: white;
  border-color: white;
  box-shadow: none;
}
/* line 84, assetic_compassDsmHUN.scss */
#wrapper #sidebar-main .navigation-menu ul li:first-child {
  margin-top: 17px;
}
/* line 88, assetic_compassDsmHUN.scss */
#wrapper #sidebar-main .navigation-menu ul li:last-child {
  margin-bottom: 17px;
}
/* line 92, assetic_compassDsmHUN.scss */
#wrapper #sidebar-main .navigation-menu ul li:after {
  border-color: #222222;
}

/* line 100, assetic_compassDsmHUN.scss */
#content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 2%;
  width: 100%;
  height: calc(100% - 100px - 5%);
  position: relative;
}
/* line 108, assetic_compassDsmHUN.scss */
#content #gallery-wrapper {
  position: relative;
  height: 100%;
}
/* line 112, assetic_compassDsmHUN.scss */
#content #gallery-wrapper #frame {
  height: 100%;
}
/* line 119, assetic_compassDsmHUN.scss */
#content #sonata-media-gallery-media-list {
  height: 500px;
  opacity: 0;
}
/* line 123, assetic_compassDsmHUN.scss */
#content #sonata-media-gallery-media-list .sonata-media-gallery-media-item {
  height: 100px;
}
/* line 135, assetic_compassDsmHUN.scss */
#content #sonata-media-gallery-media-list .sonata-media-gallery-media-item .sonata-media-gallery-media-item-link {
  height: 100px;
  display: block;
  overflow: hidden;
  position: relative;
}
/* line 143, assetic_compassDsmHUN.scss */
#content #sonata-media-gallery-media-list .sonata-media-gallery-media-item .sonata-media-gallery-media-item-link .media-object {
  -webkit-transition: all 1s ease 0s;
  -moz-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  height: 100px;
  display: block;
}
/* line 150, assetic_compassDsmHUN.scss */
#content #sonata-media-gallery-media-list .sonata-media-gallery-media-item .sonata-media-gallery-media-item-link .media-bar {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  -webkit-transform: translate(0, 100%);
  -moz-transform: translate(0, 100%);
  -o-transform: translate(0, 100%);
  transform: translate(0, 100%);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 0.92, 0.08, 1) 0.2s;
  -moz-transition: -moz-transform 0.3s cubic-bezier(0, 0.92, 0.08, 1) 0.2s;
  -ms-transition: -ms-transform 0.3s cubic-bezier(0, 0.92, 0.08, 1) 0.2s;
  transition: transform 0.3s cubic-bezier(0, 0.92, 0.08, 1) 0.2s;
}
/* line 165, assetic_compassDsmHUN.scss */
#content #sonata-media-gallery-media-list .sonata-media-gallery-media-item .sonata-media-gallery-media-item-link .media-bar .media-description {
  float: left;
  color: white;
  margin: 0 0 0 10px;
  height: 37px;
  line-height: 37px;
  font-weight: bold;
}
/* line 176, assetic_compassDsmHUN.scss */
#content #sonata-media-gallery-media-list .sonata-media-gallery-media-item .sonata-media-gallery-media-item-link:hover .media-object {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
/* line 180, assetic_compassDsmHUN.scss */
#content #sonata-media-gallery-media-list .sonata-media-gallery-media-item .sonata-media-gallery-media-item-link:hover .media-bar {
  -webkit-transform: translate(0, 0%);
  -moz-transform: translate(0, 0%);
  -o-transform: translate(0, 0%);
  transform: translate(0, 0%);
}
/* line 191, assetic_compassDsmHUN.scss */
#content #sonata-media-gallery-media-list .sonata-media-gallery-media-item.expanded {
  height: 100%;
  padding: 0;
  background: none;
}
/* line 196, assetic_compassDsmHUN.scss */
#content #sonata-media-gallery-media-list .sonata-media-gallery-media-item.expanded .sonata-media-gallery-media-item-link {
  height: 100%;
  cursor: default;
}
/* line 200, assetic_compassDsmHUN.scss */
#content #sonata-media-gallery-media-list .sonata-media-gallery-media-item.expanded .sonata-media-gallery-media-item-link .media-object {
  transition: none;
  width: 100%;
  height: auto;
}
/* line 206, assetic_compassDsmHUN.scss */
#content #sonata-media-gallery-media-list .sonata-media-gallery-media-item.expanded .sonata-media-gallery-media-item-link .media-btns {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  /* Good browsers */
  -moz-opacity: 0;
  /* Netscape */
  -khtml-opacity: 0;
  /* Safari 1.x */
  filter: alpha(opacity=0);
  /* IE 5-7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 8 */
}
/* line 216, assetic_compassDsmHUN.scss */
#content #sonata-media-gallery-media-list .sonata-media-gallery-media-item.expanded .sonata-media-gallery-media-item-link:hover .media-bar {
  -webkit-transform: translate(0, 0%);
  -moz-transform: translate(0, 0%);
  -o-transform: translate(0, 0%);
  transform: translate(0, 0%);
}
/* line 220, assetic_compassDsmHUN.scss */
#content #sonata-media-gallery-media-list .sonata-media-gallery-media-item.expanded .sonata-media-gallery-media-item-link:hover .media-object {
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  transform: none;
}
/* line 224, assetic_compassDsmHUN.scss */
#content #sonata-media-gallery-media-list .sonata-media-gallery-media-item.expanded .sonata-media-gallery-media-item-link:hover .media-btns {
  -webkit-transition: opacity 0.3s linear 0s;
  -moz-transition: opacity 0.3s linear 0s;
  -o-transition: opacity 0.3s linear 0s;
  transition: opacity 0.3s linear 0s;
  opacity: 1;
  /* Good browsers */
  -moz-opacity: 1;
  /* Netscape */
  -khtml-opacity: 1;
  /* Safari 1.x */
  filter: alpha(opacity=100);
  /* IE 5-7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  /* IE 8 */
}
/* line 228, assetic_compassDsmHUN.scss */
#content #sonata-media-gallery-media-list .sonata-media-gallery-media-item.expanded .sonata-media-gallery-media-item-link:hover .media-btns > span {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  height: 20px;
  line-height: 23px;
  width: 20px;
  vertical-align: middle;
  padding: 8px;
  -webkit-transition: background-color 0.3s ease-in 0s;
  -moz-transition: background-color 0.3s ease-in 0s;
  -o-transition: background-color 0.3s ease-in 0s;
  transition: background-color 0.3s ease-in 0s;
}
/* line 244, assetic_compassDsmHUN.scss */
#content #sonata-media-gallery-media-list .sonata-media-gallery-media-item.expanded .sonata-media-gallery-media-item-link:hover .media-btns > span.zoom img {
  background: url("/bundles/imhbase/images/sprite.png") no-repeat scroll -96px -131px;
  height: 20px;
  width: 19px;
}
/* line 252, assetic_compassDsmHUN.scss */
#content #sonata-media-gallery-media-list .sonata-media-gallery-media-item.expanded .sonata-media-gallery-media-item-link:hover .media-btns > span.close img {
  background: url("/bundles/imhbase/images/sprite.png") no-repeat scroll -115px -131px;
  height: 12px;
  width: 12px;
}
/* line 259, assetic_compassDsmHUN.scss */
#content #sonata-media-gallery-media-list .sonata-media-gallery-media-item.expanded .sonata-media-gallery-media-item-link:hover .media-btns > span:hover {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);
}
/* line 271, assetic_compassDsmHUN.scss */
#content #scrollbar {
  margin-top: 2%;
  position: relative;
  width: 70%;
  height: 5px;
  background: #222222;
}
/* line 278, assetic_compassDsmHUN.scss */
#content #scrollbar .handle {
  -webkit-transition: background 0.3s ease-in 0s;
  -moz-transition: background 0.3s ease-in 0s;
  -o-transition: background 0.3s ease-in 0s;
  transition: background 0.3s ease-in 0s;
  cursor: pointer;
  background: #3f3f3f;
  width: 100px;
  /* overriden if dynamicHandle: 1 */
  height: 100%;
}
/* line 285, assetic_compassDsmHUN.scss */
#content #scrollbar .handle:hover {
  background: #898989;
}
/* line 289, assetic_compassDsmHUN.scss */
#content #scrollbar .handle .mousearea {
  position: absolute;
  top: -12px;
  left: 0;
  height: 25px;
  width: 100%;
}

/* line 300, assetic_compassDsmHUN.scss */
#footer {
  background: none;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.95);
  position: fixed;
  bottom: 0;
  display: none;
  border-top: none;
}
/* line 309, assetic_compassDsmHUN.scss */
#footer .footer-column {
  border-left-color: #222222;
}
/* line 312, assetic_compassDsmHUN.scss */
#footer .footer-column ul li a, #footer .footer-column ul li span {
  color: #3f3f3f;
}
/* line 314, assetic_compassDsmHUN.scss */
#footer .footer-column ul li a:hover, #footer .footer-column ul li span:hover {
  color: #898989;
}
/* line 319, assetic_compassDsmHUN.scss */
#footer .footer-column ul li.current a, #footer .footer-column ul li.current span {
  background-color: #222222;
  color: #898989;
  border-color: #3f3f3f;
}
/* line 326, assetic_compassDsmHUN.scss */
#footer p {
  color: #3f3f3f;
}
