/* line 4, assetic_compassHSHE7k.scss */
.imh__sidebar {
  position: fixed;
  z-index: 1;
  top: 270px;
  left: 20px;
  width: 120px;
  display: none;
}

/* line 13, assetic_compassHSHE7k.scss */
.imh__navigation-menu {
  position: fixed;
}
/* line 16, assetic_compassHSHE7k.scss */
.imh__navigation-menu .imh__navigation-menu-title {
  font-family: "ralewaysemibold", Arial, Helvetica, sans-serif;
  border-bottom: 1px solid #3f3f3f;
  padding-bottom: 7px;
  color: #898989;
  text-transform: uppercase;
  font-weight: normal;
}
/* line 24, assetic_compassHSHE7k.scss */
.imh__navigation-menu .imh__navigation-menu-title .fa {
  color: #898989;
  margin-right: 2px;
}
/* line 30, assetic_compassHSHE7k.scss */
.imh__navigation-menu ul {
  background: url("/bundles/imhbase/images/header-bg.png") repeat scroll 0 0;
  border: 1px solid #898989;
  width: 40px;
  margin-top: 20px;
}
/* line 37, assetic_compassHSHE7k.scss */
.imh__navigation-menu li:not(.gallery) {
  position: relative;
  height: 40px;
  cursor: pointer;
}
/* line 42, assetic_compassHSHE7k.scss */
.imh__navigation-menu li:not(.gallery).first {
  margin-top: 17px;
}
/* line 46, assetic_compassHSHE7k.scss */
.imh__navigation-menu li:not(.gallery).last {
  margin-bottom: 17px;
}
/* line 50, assetic_compassHSHE7k.scss */
.imh__navigation-menu li:not(.gallery):after {
  border: 1px solid #898989;
  -webkit-transition: all 0.2s ease-in 0s;
  -moz-transition: all 0.2s ease-in 0s;
  -o-transition: all 0.2s ease-in 0s;
  transition: all 0.2s ease-in 0s;
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
  width: 8px;
  height: 8px;
  padding: 1px;
}
/* line 64, assetic_compassHSHE7k.scss */
.imh__navigation-menu li:not(.gallery).current:after {
  background-color: #3f3f3f;
  border: 1px solid #3f3f3f;
  margin: -6px 0 0 -6px;
}
/* line 70, assetic_compassHSHE7k.scss */
.imh__navigation-menu li:not(.gallery).current a, .imh__navigation-menu li:not(.gallery).current span {
  background: url("/bundles/imhbase/images/header-bg.png") repeat scroll 0 0;
  color: #222222;
  border: 1px solid #898989;
  border-left: none;
  margin-left: 38px;
  padding-right: 16px;
  text-indent: 13px;
}
/* line 82, assetic_compassHSHE7k.scss */
.imh__navigation-menu li:not(.gallery):hover:after {
  border: 1px solid #3f3f3f;
  background: #3f3f3f;
}
/* line 87, assetic_compassHSHE7k.scss */
.imh__navigation-menu li:not(.gallery):hover a {
  color: #222222;
}
/* line 92, assetic_compassHSHE7k.scss */
.imh__navigation-menu li:not(.gallery) a, .imh__navigation-menu li:not(.gallery) span {
  font-family: "ralewaymedium", Arial, Helvetica, sans-serif;
  color: #3f3f3f;
  font-size: 1em;
  display: inline-block;
  position: relative;
  text-indent: 53px;
  height: 40px;
  line-height: 40px;
  z-index: 1;
}
/* line 104, assetic_compassHSHE7k.scss */
.imh__navigation-menu li:not(.gallery) .fa-home {
  display: none;
}
/* line 107, assetic_compassHSHE7k.scss */
.imh__navigation-menu li:not(.gallery) .fa-home + span {
  display: inline;
}
