/* line 4, assetic_compassTINcJd.scss */
html {
  height: 100%;
}
/* line 7, assetic_compassTINcJd.scss */
html body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

/* line 14, assetic_compassTINcJd.scss */
a {
  text-decoration: none;
  color: #000000;
}

/* line 19, assetic_compassTINcJd.scss */
a.icon {
  display: inline-block;
}

/* line 23, assetic_compassTINcJd.scss */
a, div {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

/* line 27, assetic_compassTINcJd.scss */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 33, assetic_compassTINcJd.scss */
#bkg-image {
  position: absolute;
  top: 0;
  left: 120px;
  width: 100%;
  z-index: -1;
}

/* line 41, assetic_compassTINcJd.scss */
.imh__content {
  position: relative;
}
/* line 44, assetic_compassTINcJd.scss */
.imh__content .main-content-wrapper {
  position: relative;
  top: -36px;
  z-index: 1;
  max-width: 980px;
  margin: 0 auto;
}
/* line 51, assetic_compassTINcJd.scss */
.imh__content .main-content-wrapper .middle {
  background-color: white;
  -webkit-box-sizing: border-box;
  /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
  -moz-box-sizing: border-box;
  /* Firefox 1 - 28 */
  box-sizing: border-box;
  /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
  border-top: 36px solid white;
  padding: 26px 0 45px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
/* line 63, assetic_compassTINcJd.scss */
.imh__content .main-content-wrapper .middle.shadows::after, .imh__content .main-content-wrapper .middle.shadows::before {
  content: " ";
  position: absolute;
  top: -97px;
  width: 5px;
  height: 400px;
  z-index: -10;
}
/* line 72, assetic_compassTINcJd.scss */
.imh__content .main-content-wrapper .middle.shadows::before {
  left: 11px;
  box-shadow: -10px 0 4px whitesmoke;
  transform: rotate(-1deg);
}
/* line 78, assetic_compassTINcJd.scss */
.imh__content .main-content-wrapper .middle.shadows::after {
  right: 11px;
  box-shadow: 10px 0 4px whitesmoke;
  transform: rotate(1deg);
}
/* line 84, assetic_compassTINcJd.scss */
.imh__content .main-content-wrapper .middle h1 {
  font-family: cinzelregular, sans-serif;
  font-size: 3.333em;
  margin: 0 0 6px;
  color: #453531;
}

/* line 94, assetic_compassTINcJd.scss */
.empty {
  width: 0;
  height: 0;
}

/* line 99, assetic_compassTINcJd.scss */
.lazy {
  display: none;
}

/* line 103, assetic_compassTINcJd.scss */
.block-triangle {
  opacity: 0.4;
  /* Good browsers */
  -moz-opacity: 0.4;
  /* Netscape */
  -khtml-opacity: 0.4;
  /* Safari 1.x */
  filter: alpha(opacity=40);
  /* IE 5-7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  /* IE 8 */
  position: absolute;
  top: 0;
  height: 100%;
  border-bottom-style: solid;
  border-bottom-color: white;
  border-left-style: solid;
  border-left-color: rgba(0, 0, 0, 0);
  -moz-transform: scale(0.9999);
  /* Antialiasing - trick for firefox */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}
