/* line 6, assetic_compassxgZbsq.scss */
#header .top {
  background: url("/bundles/imhbase/images/header-bg.png") repeat-x;
  height: 63px;
  border-bottom: 1px solid whitesmoke;
}
/* line 11, assetic_compassxgZbsq.scss */
#header .top .user {
  height: 54px;
  line-height: 54px;
  margin-right: 20px;
}
/* line 16, assetic_compassxgZbsq.scss */
#header .top .user .authentication {
  font-size: 0.833em;
  color: #898989;
}
/* line 20, assetic_compassxgZbsq.scss */
#header .top .user .authentication:hover {
  text-decoration: underline;
}
/* line 24, assetic_compassxgZbsq.scss */
#header .top .user .authentication img {
  display: inline-block;
  vertical-align: middle;
}
/* line 29, assetic_compassxgZbsq.scss */
#header .top .user .authentication img.connexion {
  height: 19px;
  width: 11px;
  margin: 0 7px;
  background: url("/bundles/imhbase/images/sprite.png") -278px -106px no-repeat;
}
/* line 36, assetic_compassxgZbsq.scss */
#header .top .user .authentication img.bullet {
  height: 8px;
  width: 5px;
  margin: 0 10px;
  background: url("/bundles/imhbase/images/sprite.png") -281px -92px no-repeat;
}
/* line 45, assetic_compassxgZbsq.scss */
#header .top .user .lang {
  float: right;
}
/* line 48, assetic_compassxgZbsq.scss */
#header .top .user .lang li {
  display: inline;
  color: #898989;
}
/* line 52, assetic_compassxgZbsq.scss */
#header .top .user .lang li a {
  font-family: Helvetica, Arial, sans-serif;
  display: inline-block;
  height: 20px;
  width: 20px;
  line-height: 20px;
  padding: 2px;
  color: #898989;
  background-color: white;
  border: 1px solid #f7f2f6;
  text-align: center;
  font-size: 0.75em;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  -webkit-transition: all 0.2s ease-in 0s;
  -moz-transition: all 0.2s ease-in 0s;
  -o-transition: all 0.2s ease-in 0s;
  transition: all 0.2s ease-in 0s;
}
/* line 68, assetic_compassxgZbsq.scss */
#header .top .user .lang li.current a, #header .top .user .lang li a:hover {
  color: #61486f;
  background-color: #fcfcfc;
  border-color: #7e7380;
}
/* line 75, assetic_compassxgZbsq.scss */
#header .top .user .lang li:first-child {
  font-size: 0.833em;
  margin-right: 5px;
  line-height: normal;
}
/* line 84, assetic_compassxgZbsq.scss */
#header .navigation {
  background: url("/bundles/imhbase/images/header-bg.png") repeat-x rgba(255, 208, 247, 0.04);
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid white;
}
/* line 89, assetic_compassxgZbsq.scss */
#header .navigation .wrapper {
  border-top: 1px solid #222222;
  border-bottom: 1px solid #222222;
  background: white;
  position: relative;
  top: -35px;
  margin: 0 auto;
  max-width: 980px;
  z-index: 2;
}
/* line 100, assetic_compassxgZbsq.scss */
#header .navigation ul {
  background: #222222;
  text-align: center;
}
/* line 104, assetic_compassxgZbsq.scss */
#header .navigation ul li {
  display: inline-block;
  position: relative;
  top: -1px;
  margin: 0 -4px -2px 0;
  height: 63px;
  z-index: 1;
}
/* line 112, assetic_compassxgZbsq.scss */
#header .navigation ul li a, #header .navigation ul li span {
  color: white;
  font-family: cinzelregular;
  font-size: 1.25em;
  display: block;
  padding: 0 22px;
  font-weight: bold;
}
/* line 121, assetic_compassxgZbsq.scss */
#header .navigation ul li span {
  height: 62px;
  line-height: 64px;
}
/* line 126, assetic_compassxgZbsq.scss */
#header .navigation ul li a {
  border: 1px solid rgba(0, 0, 0, 0);
  -webkit-transition: border 0.3s ease-in 0s;
  -moz-transition: border 0.3s ease-in 0s;
  -o-transition: border 0.3s ease-in 0s;
  transition: border 0.3s ease-in 0s;
  height: 62px;
  line-height: 64px;
}
/* line 132, assetic_compassxgZbsq.scss */
#header .navigation ul li a:hover {
  background-color: white;
  color: #222222;
  border: 1px solid #222222;
}
/* line 139, assetic_compassxgZbsq.scss */
#header .navigation ul li.current {
  background-color: white;
  border: 1px solid #222222;
  border-bottom: none;
}
/* line 144, assetic_compassxgZbsq.scss */
#header .navigation ul li.current span {
  color: #222222;
  border-bottom-color: white;
}
