/* line 6, assetic_compassddnOuK.scss */
* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 11, assetic_compassddnOuK.scss */
html, body {
  height: 100%;
}

/* line 15, assetic_compassddnOuK.scss */
body {
  font-family: toma_sansregular, Arial, Helvetica, sans-serif;
  font-size: 12px;
}

/* line 20, assetic_compassddnOuK.scss */
a {
  text-decoration: none;
  color: #000000;
}

/* line 25, assetic_compassddnOuK.scss */
a.icon {
  display: inline-block;
}

/* line 29, assetic_compassddnOuK.scss */
ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 35, assetic_compassddnOuK.scss */
#bkg-image {
  position: absolute;
  top: 0;
  left: 120px;
  width: 100%;
  z-index: -1;
}

/* line 43, assetic_compassddnOuK.scss */
.imh__container-fluid {
  overflow: hidden;
}

/* line 47, assetic_compassddnOuK.scss */
.imh__content {
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
}
/* line 3, ../home/gautier/Projects/imh-website/Symfony/src/Imh/BaseBundle/Resources/assets/sass/_mixins.scss */
.imh__content:before, .imh__content:after {
  content: " ";
  display: table;
}
/* line 7, ../home/gautier/Projects/imh-website/Symfony/src/Imh/BaseBundle/Resources/assets/sass/_mixins.scss */
.imh__content:after {
  clear: both;
}

/* line 52, assetic_compassddnOuK.scss */
.imh__container {
  position: relative;
  top: -34px;
  z-index: 1;
  max-width: 980px;
  padding: 0;
}

/* line 60, assetic_compassddnOuK.scss */
.imh__container--wrapper {
  background-color: white;
  border-top: 34px solid white;
  padding: 26px 0 45px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
/* line 69, assetic_compassddnOuK.scss */
.imh__container--wrapper.imh__container--shadows::after, .imh__container--wrapper.imh__container--shadows::before {
  content: " ";
  position: absolute;
  top: -97px;
  width: 5px;
  height: 400px;
  z-index: -10;
}
/* line 78, assetic_compassddnOuK.scss */
.imh__container--wrapper.imh__container--shadows::before {
  left: 11px;
  box-shadow: -10px 0 4px whitesmoke;
  transform: rotate(-1deg);
}
/* line 84, assetic_compassddnOuK.scss */
.imh__container--wrapper.imh__container--shadows::after {
  right: 11px;
  box-shadow: 10px 0 4px whitesmoke;
  transform: rotate(1deg);
}
/* line 90, assetic_compassddnOuK.scss */
.imh__container--wrapper h1 {
  font-family: cinzelregular, sans-serif;
  font-size: 3.333em;
  margin: 0 0 6px;
  color: #453531;
}

/* line 98, assetic_compassddnOuK.scss */
.empty {
  width: 0;
  height: 0;
}

/* line 103, assetic_compassddnOuK.scss */
.lazy {
  display: none;
}

/* line 107, assetic_compassddnOuK.scss */
.block-triangle {
  opacity: 0.4;
  /* Good browsers */
  -moz-opacity: 0.4;
  /* Netscape */
  -khtml-opacity: 0.4;
  /* Safari 1.x */
  filter: alpha(opacity=40);
  /* IE 5-7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  /* IE 8 */
  position: absolute;
  top: 0;
  height: 100%;
  border-bottom-style: solid;
  border-bottom-color: white;
  border-left-style: solid;
  border-left-color: rgba(0, 0, 0, 0);
  -moz-transform: scale(0.9999);
  /* Antialiasing - trick for firefox */
}
