/* line 6, assetic_compassPjrNLT.scss */
.imh__footer {
  margin-left: -15px;
  margin-right: -15px;
  background: url("/bundles/imhbase/images/header-bg.png") repeat scroll 0 0;
  min-height: 110px;
  border-top: 1px solid lightgrey;
  color: #898989;
  text-align: center;
  padding-bottom: 20px;
}
/* line 3, ../home/gautier/Projects/imh-website/Symfony/src/Imh/BaseBundle/Resources/assets/sass/_mixins.scss */
.imh__footer:before, .imh__footer:after {
  content: " ";
  display: table;
}
/* line 7, ../home/gautier/Projects/imh-website/Symfony/src/Imh/BaseBundle/Resources/assets/sass/_mixins.scss */
.imh__footer:after {
  clear: both;
}
/* line 15, assetic_compassPjrNLT.scss */
.imh__footer .footer-column {
  border-left: 1px dotted #dddddd;
  display: inline-block;
  padding: 0 2% 0 20px;
  margin-top: 25px;
  text-align: left;
  vertical-align: top;
  min-height: 100px;
}
/* line 24, assetic_compassPjrNLT.scss */
.imh__footer .footer-column:first-child {
  border: none;
}
/* line 28, assetic_compassPjrNLT.scss */
.imh__footer .footer-column h3 {
  font-weight: normal;
  margin: 5px 0 15px;
  font-size: 1.083em;
}
/* line 34, assetic_compassPjrNLT.scss */
.imh__footer .footer-column ul {
  list-style: square inside none;
}
/* line 38, assetic_compassPjrNLT.scss */
.imh__footer .footer-column li {
  margin-bottom: 4px;
  white-space: nowrap;
}
/* line 42, assetic_compassPjrNLT.scss */
.imh__footer .footer-column li a, .imh__footer .footer-column li span {
  color: #898989;
  font-size: 0.917em;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in 0s;
  -moz-transition: all 0.2s ease-in 0s;
  -o-transition: all 0.2s ease-in 0s;
  transition: all 0.2s ease-in 0s;
}
/* line 49, assetic_compassPjrNLT.scss */
.imh__footer .footer-column li a:hover, .imh__footer .footer-column li span:hover {
  color: #3f3f3f;
  border-bottom: 1px dotted #3f3f3f;
}
/* line 55, assetic_compassPjrNLT.scss */
.imh__footer .footer-column li.current {
  list-style: none;
}
/* line 57, assetic_compassPjrNLT.scss */
.imh__footer .footer-column li.current a, .imh__footer .footer-column li.current span {
  color: #3f3f3f;
  background: white;
  border: 1px solid lightgrey;
  border-radius: 16px;
  padding: 6px 10px;
}
/* line 67, assetic_compassPjrNLT.scss */
.imh__footer .footer-column li .fa-home {
  display: none;
}
/* line 75, assetic_compassPjrNLT.scss */
.imh__footer .footer-column.site ul {
  width: 175px;
}
/* line 78, assetic_compassPjrNLT.scss */
.imh__footer .footer-column.site ul li {
  float: left;
  width: 83px;
  padding-right: 10px;
}
/* line 83, assetic_compassPjrNLT.scss */
.imh__footer .footer-column.site ul li:nth-child(even) {
  padding-right: 0;
}
/* line 119, assetic_compassPjrNLT.scss */
.imh__footer .footer-column.follow .fb, .imh__footer .footer-column.follow .tw, .imh__footer .footer-column.follow .gp {
  display: inline-block;
  vertical-align: top;
  margin-right: 7px;
}
/* line 125, assetic_compassPjrNLT.scss */
.imh__footer .footer-column.follow .fb img {
  background: url("/bundles/imhbase/images/sprite.png") no-repeat scroll -8px -131px;
  height: 16px;
  width: 8px;
}
/* line 131, assetic_compassPjrNLT.scss */
.imh__footer .footer-column.follow .fb:hover img {
  background-position: 0 -131px;
}
/* line 137, assetic_compassPjrNLT.scss */
.imh__footer .footer-column.follow .tw img {
  background: url("/bundles/imhbase/images/sprite.png") no-repeat scroll -34px -131px;
  height: 16px;
  width: 18px;
}
/* line 143, assetic_compassPjrNLT.scss */
.imh__footer .footer-column.follow .tw:hover img {
  background-position: -16px -131px;
}
/* line 149, assetic_compassPjrNLT.scss */
.imh__footer .footer-column.follow .gp img {
  background: url("/bundles/imhbase/images/sprite.png") no-repeat scroll -74px -131px;
  height: 18px;
  width: 22px;
}
/* line 155, assetic_compassPjrNLT.scss */
.imh__footer .footer-column.follow .gp:hover img {
  background-position: -52px -131px;
}
/* line 164, assetic_compassPjrNLT.scss */
.imh__footer .footer-column.powered a img {
  background: url("/bundles/imhbase/images/sprite.png") no-repeat scroll -221px -131px;
  width: 63px;
  height: 61px;
  display: block;
}
/* line 171, assetic_compassPjrNLT.scss */
.imh__footer .footer-column.powered a:hover img {
  background-position: -158px -131px;
}
/* line 179, assetic_compassPjrNLT.scss */
.imh__footer p {
  font-size: 0.917em;
  margin: 20px 0 0;
}
/* line 183, assetic_compassPjrNLT.scss */
.imh__footer p span {
  font-size: 1.167em;
}
