/* line 4, assetic_compass173tkO.scss */
.top-page {
  text-align: center;
  height: 30px;
  width: 100%;
  position: relative;
  margin-top: 120px;
}
/* line 11, assetic_compass173tkO.scss */
.top-page:after {
  background: #b18f5c;
  bottom: -1px;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 0;
}
/* line 23, assetic_compass173tkO.scss */
.top-page:hover:after {
  left: 0;
  width: 100%;
}
/* line 28, assetic_compass173tkO.scss */
.top-page a {
  position: relative;
  display: block;
  height: 37px;
}
/* line 33, assetic_compass173tkO.scss */
.top-page a .arrow, .top-page a .circle {
  background: url("/bundles/imhbase/images/sprite.png") no-repeat;
  position: absolute;
  left: 50%;
}
/* line 39, assetic_compass173tkO.scss */
.top-page a .arrow {
  background-position: -246px -106px;
  height: 14px;
  width: 27px;
  margin-left: -13px;
  display: block;
  margin-top: 8px;
  opacity: 0.3;
}
/* line 49, assetic_compass173tkO.scss */
.top-page a .circle {
  background-position: -280px -81px;
  height: 7px;
  width: 7px;
  top: 27px;
  margin-left: -3px;
  z-index: 1;
}
/* line 59, assetic_compass173tkO.scss */
.top-page a:hover .arrow {
  background-position: -246px -81px;
  opacity: 1;
}
/* line 64, assetic_compass173tkO.scss */
.top-page a:hover .circle {
  background-position: -280px -92px;
}

/* line 71, assetic_compass173tkO.scss */
#comment {
  background: url("/bundles/imhbase/images/stripes.png") repeat;
  min-height: 300px;
  border-top: 1px solid whitesmoke;
  padding: 30px 0 100px;
}
/* line 78, assetic_compass173tkO.scss */
#comment .box {
  width: 843px;
  margin: 0 auto;
}
/* line 82, assetic_compass173tkO.scss */
#comment .box .fos_comment_comment_form_holder {
  background-color: white;
  border: 1px solid lightgrey;
  padding: 23px;
}
/* line 87, assetic_compass173tkO.scss */
#comment .box .fos_comment_comment_form_holder #fos_comment_comment_body {
  border: 1px solid #898989;
}
/* line 98, assetic_compass173tkO.scss */
#comment .box footer {
  text-align: center;
  width: 100%;
}
/* line 102, assetic_compass173tkO.scss */
#comment .box footer a {
  background-color: white;
  font-size: 0.917em;
  color: #898989;
  padding: 5px 15px;
  border: 1px solid lightgrey;
  display: inline-block;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
/* line 111, assetic_compass173tkO.scss */
#comment .box footer a:hover {
  border: 1px solid #898989;
  color: #3f3f3f;
}

/* line 126, assetic_compass173tkO.scss */
.fos_comment_thread_show {
  margin-top: 2em;
  padding: 1em 20px;
  width: 472px;
  background: #f0f0f0;
  box-shadow: 0 0 7px #bbb;
  -moz-box-shadow: 0 0 7px #bbb;
  -webkit-box-shadow: 0 0 7px #bbb;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

/* line 140, assetic_compass173tkO.scss */
.fos_comment_thread_show h3 {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 1em;
  color: #a0a0a0;
}

/* line 147, assetic_compass173tkO.scss */
.fos_comment_comment_show {
  color: #555;
}

/* line 151, assetic_compass173tkO.scss */
.fos_comment_comment_metas {
  margin: 1.5em 0 0.5em 0;
  padding: 1em 20px;
  background: #e6e6e6;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

/* line 161, assetic_compass173tkO.scss */
.fos_comment_comment_body {
  line-height: 1.5em;
}

/* line 165, assetic_compass173tkO.scss */
.fos_comment_comments .fos_comment_comments {
  margin-left: 2em;
}

/* line 169, assetic_compass173tkO.scss */
.fos_comment_comment_reply {
  text-align: right;
}

/* line 173, assetic_compass173tkO.scss */
.fos_comment_comment_reply.replying {
  text-align: left;
  margin-top: 1em;
  padding: 1em 20px;
  background: #d6d6d6;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

/* line 183, assetic_compass173tkO.scss */
.fos_comment_comment_reply_show_form {
  padding: 2px 5px;
  font-size: 0.8em;
}

/* line 188, assetic_compass173tkO.scss */
.fos_comment_comment_reply.fos_comment_replying button.fos_comment_comment_reply_show_form {
  display: none;
}

/* line 192, assetic_compass173tkO.scss */
.fos_comment_thread_comments {
  margin-bottom: 1.5em;
}

/* line 196, assetic_compass173tkO.scss */
.fos_comment_reply_prototype {
  display: none;
}

/* line 200, assetic_compass173tkO.scss */
.fos_comment_thread_show > form.fos_comment_comment_form {
  margin-bottom: 1em;
}

/* line 204, assetic_compass173tkO.scss */
form.fos_comment_comment_form.processing {
  opacity: 0.5;
}

/* line 208, assetic_compass173tkO.scss */
form.fos_comment_comment_form label.author_name {
  margin-top: 3px;
  float: left;
}

/* line 213, assetic_compass173tkO.scss */
form.fos_comment_comment_form label.author_name input {
  padding: 2px 5px;
}

/* line 217, assetic_compass173tkO.scss */
form.fos_comment_comment_form textarea {
  width: 98%;
  height: 6em;
  padding: 1%;
}

/* line 222, assetic_compass173tkO.scss */
form.fos_comment_comment_form.error textarea {
  border-color: red;
}

/* line 226, assetic_compass173tkO.scss */
.fos_comment_form_errors {
  color: #ff0000;
}

/* line 230, assetic_compass173tkO.scss */
.fos_comment_submit {
  text-align: right;
}

/* line 234, assetic_compass173tkO.scss */
.fos_comment_submit input {
  font-size: 1.2em;
  padding: 3px 12px;
  margin-top: 3px;
}

/* line 240, assetic_compass173tkO.scss */
a.fos_comment_thread_feed {
  width: 16px;
  height: 16px;
  display: block;
  float: right;
}

/* line 247, assetic_compass173tkO.scss */
.fos_comment_comment_voting {
  float: right;
}

/* line 251, assetic_compass173tkO.scss */
.fos_comment_comment_score {
  display: inline-block;
}
