.imh__footer {
  @include make-row();
  background: url("/bundles/imhbase/images/header-bg.png") repeat scroll 0 0;
  border-top: 1px solid $color-grey-light;
  color: $color-grey-medium;
  padding-top: 20px;

  .imh__container {
    padding: 0;
    top: 0;
  }
}

.imh__footer-column {
  border-right: 1px dotted $color-grey-lighter;
  text-align: left;
  vertical-align: top;
  display: table-cell;
  float: none;

  h3 {
    font-family: 'ralewaysemibold', $font-fallback;
    font-weight: normal;
    margin: 5px 0 15px;
    font-size: $thirteenpx;
  }

  ul {
    list-style: none;
  }

  li {
    white-space: nowrap;
    margin-bottom: -4px;

    a, span {
      color: $color-grey-medium;
      display: inline-block;
      @include transition(all .2s ease-in 0s);

      &:hover {
        color: $color-grey-dark;
      }
    }

    a {
      border: 1px solid transparent;
      padding: 6px 0;
    }

    &.current {
      list-style: none;
      a, span {
        color: $color-grey-dark;
        background: white;
        border: 1px solid $color-grey-light;
        border-radius: 16px;
        padding: 6px 14px 8px;
      }
    }

    .fa-home {
      display: none;
    }
  }
}

.imh__footer-column--last {
  border: none;
}

.imh__footer-column--extraspace {
  padding-left: 40px;
}

.imh__footer-wrap {
  padding: 7px 0;
}

.imh__footer-column--site {

  ul {
    @include clearfix();
    width: 152px;
  }

  li {
    float: left;
    padding-right: 10px;

    &:nth-child(even) {
      padding-right: 0;
    }

    &.current {
      //float: none;
    }
  }
}

.imh__footer-column--language {
  text-align: center;
}

.imh__footer-column--follow {
  text-align: center;

  .social {
    display: inline-block;
    vertical-align: top;
    margin: 0 4px;
    font-size: 20px;
    color: $color-grey-dark;
    width: 18px;

    &:hover {
      color: black;
    }
  }
}

.imh__footer-column--powered {
  text-align: center;

  a {
    display: block;
  }

  .icon--symfony {
    width: 100%;
    height: 55px;
    fill: $color-grey-dark;
    @include transition(fill .2s ease-in 0s);

    &:hover {
      fill: black;
    }
  }
}

.imh__footer-rights {
  display: block;
  font-size: $elevenpx;
  margin: 20px 0 15px;

  span {
    font-size: $fourteenpx;
  }

  br { display: none; }
}

// Media queries
// ==================================================

@media (max-width: $screen-xs-max) {
  .imh__footer {
    color: white;
    border-top: none;
    background: black;

    .imh__container {
      padding: 0;
    }
  }

  .imh__footer-column {
    margin-top: 10px;
    display: block;
    float: left;
    border-right-color: $color-grey-medium;
  }

  .imh__footer-column--follow,
  .imh__footer-column--powered {
    text-align: center;
  }

  .imh__footer-column--follow .social {
      color: white;

      &:first-child {
        margin-left: 0;
      }
  }

  .imh__footer-column--powered .icon--symfony {
    height: 47px;
    fill: black;
    @include transition(none);

    &:hover {
      fill: black;
    }
  }

  .imh__footer-rights {
    margin: 0 0 20px;
    color: $color-grey-medium;

    br { display: inline; }
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .imh__footer-column--follow {
    border: none;
  }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {  }
@media (min-width: $screen-lg-min) {  }