.imh__footer {
  @include make-row();
  background: url("/bundles/imhbase/images/header-bg.png") repeat scroll 0 0;
  min-height: 110px;
  border-top: 1px solid $color-grey-light;
  color: $color-grey-medium;
  padding-top: 20px;

  .imh__container {
    padding: 0;
    top: 0;
  }
}

.imh__footer-column {
  border-right: 1px dotted $color-grey-lighter;
  text-align: left;
  vertical-align: top;
  min-height: 118px;

  h3 {
    font-family: 'ralewaysemibold', $font-fallback;
    font-weight: normal;
    margin: 5px 0 15px;
    font-size: $thirteenpx;
  }

  ul {
    list-style: square inside none;
  }

  li {
    white-space: nowrap;
    margin-bottom: -4px;

    a, span {
      color: $color-grey-medium;
      display: inline-block;
      //height: 13px;
      @include transition(all, 0.2s, ease-in, 0s);

      &:hover {
        color: $color-grey-dark;
        //border-bottom: 1px dotted $color-grey-dark;
      }
    }

    a {
      border: 1px solid transparent;
      padding: 6px 0;
    }

    &.current {
      list-style: none;
      a, span {
        color: $color-grey-dark;
        background: $color-white;
        border: 1px solid $color-grey-light;
        border-radius: 16px;
        //line-height: 13px;
        padding: 6px 14px;
      }
    }

    .fa-home {
      display: none;
    }
  }
}

.imh__footer-wrap {
  padding: 7px 0;
}

.imh__footer-column--site {
  //padding-right: 30px;

  ul {
    width: 175px;
  }

  li {
    float: left;
    //width: 87px;
    padding-right: 10px;

    &:nth-child(even) {
      padding-right: 0;
    }

    &.current {
      //float: none;
    }
  }
}

//    &.school {
//      a {
//        height: inherit;
//        @include transition(all, 0.2s, ease-in);
//
//        img {
//          vertical-align: middle;
//          margin-right: 5px;
//        }
//
//        span {
//          display: inline-block;
//          height: 13px;
//        }
//
//        &:hover {
//          border: none;
//          span {
//            border-bottom: 1px dotted $color-grey-dark;
//          }
//        }
//      }
//    }

.imh__footer-column--follow {
  .fb, .tw, .gp {
    display: inline-block;
    vertical-align: top;
    margin-right: 7px;
  }
  .fb {
    img {
      background: url("/bundles/imhbase/images/sprite.png") no-repeat scroll -8px -131px;
      height: 16px;
      width: 8px;
    }
    &:hover {
      img {
        background-position: 0 -131px;
      }
    }
  }
  .tw {
    img {
      background: url("/bundles/imhbase/images/sprite.png") no-repeat scroll -34px -131px;
      height: 16px;
      width: 18px;
    }
    &:hover {
      img {
        background-position: -16px -131px;
      }
    }
  }
  .gp {
    img {
      background: url("/bundles/imhbase/images/sprite.png") no-repeat scroll -74px -131px;
      height: 18px;
      width: 22px;
    }
    &:hover {
      img {
        background-position: -52px -131px;
      }
    }
  }
}

.imh__footer-column--powered {
  border: none;

  a {
    display: block;
    &:hover {
      img {
        background-position: -158px -131px;
      }
    }
  }

  img {
    background: url("/bundles/imhbase/images/sprite.png") no-repeat scroll -221px -131px;
    width: 63px;
    height: 61px;
  }
}

.imh__footer-rights {
  display: block;
  font-size: $elevenpx;
  margin-bottom: 15px;

  span {
    font-size: $fourteenpx;
  }
}

// Media queries
// ==================================================

@media (max-width: $screen-xs-max) {
  .imh__footer {
    .imh__container {
      padding: 0;
    }
  }

  .imh__footer-column {
    margin-top: 10px;
    min-height: inherit;
    border-right: none;
  }

  .imh__footer-column--follow,
  .imh__footer-column--powered {
    text-align: center;
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .imh__footer-column--follow {
    border: none;
  }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {  }
@media (min-width: $screen-lg-min) {  }