* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); // Disable blue highlight when Touch/Press
  @include box-sizing(border-box);
}

html, body {
  height: 100%;
}

body {
  font-family: $font-stack, $font-fallback;
  font-size: $font-stack-size;
}

a {
  text-decoration: none;
  color: $color-black;
  outline: none;
}

a.icon {
  display: inline-block;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: none;

  &:focus {
    outline: none;
  }
}

// IMH
//============================================

// Headings
.imh__title { font-weight: normal; }
.imh__title-h1 {}
.imh__title-h2 {
  font-family: 'ralewaymedium', $font-fallback;
  font-size: $fourteenpx;
  color: $color-grey-dark;
  line-height: 40px;
  margin: 0 0 20px;

  small {
    font-size: 13px;
    color: $color-grey-dark;
  }
}

.imh__title-h2--border {
  border: 1px solid $color-grey-light;
  background-color: $color-grey-extremlight;
}
.imh__title-h3 {
  font-family: 'ralewaymedium', $font-fallback;
  font-size: $thirteenpx;
  margin-top: 10px;
}

> p {
  margin: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid $color-grey-medium;
}

.imh__bkg-image {
  position: absolute;
  top: 0;
  left: 120px;
  width: 100%;
  z-index: -1;
}

.imh__container-fluid {
  overflow: hidden;
}

.imh__content {
  position: relative;
  @include make-row();
}

.imh__container {
  position: relative;
  top: -34px;
  z-index: 1;
}

.imh__container--wrapper {
  @include make-row();
  background-color: $color-white;
  border-top: 34px solid $color-white;
  padding: 26px 0 45px;
  position: relative;

  &.imh__container--shadows::after,
  &.imh__container--shadows::before {
    content: " ";
    position: absolute;
    top: -97px;
    width: 5px;
    height: 400px;
    z-index: -10;
  }

  &.imh__container--shadows::before {
    left: 11px;
    box-shadow: -10px 0 4px $color-grey-ultralight;
    transform: rotate(-1deg);
  }

  &.imh__container--shadows::after {
    right: 11px;
    box-shadow: 10px 0 4px $color-grey-ultralight;
    transform: rotate(1deg);
  }
}

.empty {
  width: 0;
  height: 0;
}

.lazy {
  display: none;
}

.block-triangle {
  @include opacity(.4);
  position: absolute;
  top: 0;
  height: 100%;
  border-bottom-style: solid;
  border-bottom-color: $color-white;
  border-left-style: solid;
  border-left-color: rgba(0, 0, 0, 0);
  -moz-transform: scale(.9999); /* Antialiasing - trick for firefox */
}

%pseudo-vertical-align {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 100%;
}

// Media queries
// ==================================================

@media (max-width: $screen-xs-max) {
  .imh__title-h2 {
    font-size: $fifteenpx;
    margin-bottom: 15px;
  }

  .imh__title-h2--border {
    border: none;
    line-height: 27px;
  }

  .imh__title-h3 {
    margin-top: 0;
    margin-bottom: 2px;
  }

  .imh__container--wrapper {
    border-top-width: 0;
    padding: 0;
  }

  .imh__content {
    padding-top: 60px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .imh__bkg-image { left: 0; }
}

@media (max-width: $screen-sm-max) {
  .imh__container--shadows::after,
  .imh__container--shadows::before {
    display: none;
  }
}

@media (min-width: $screen-md-min) {
  .imh__container {
    width: 980px;
  }
}

@media (max-width: $screen-md-max) {
  .imh__bkg-image { display: none !important; }
}