// Headings
// All pages
// ==================================================

h1, h2, h3, h4, h5, h6 {
  margin: 20px 0;
}

.imh__title { font-weight: normal; }

.imh__title-h1 {}

.imh__title-h2 {
  font-family: 'ralewaymedium', $font-fallback;
  font-size: $fourteenpx;
  color: $color-grey-dark;
  line-height: 40px;
  margin: 0 0 20px;

  small {
    font-size: 13px;
    color: $color-grey-dark;
  }
}

.imh__title-h2--border {
  border: 1px solid $color-grey-light;
  background-color: $color-grey-extremlight;
}
.imh__title-h3 {
  font-family: 'ralewaymedium', $font-fallback;
  font-size: $thirteenpx;
  margin-top: 10px;
}

// Home page
// ==================================================

.imh__intro {
  @include opacity(0);
  @include translate(-50%, -50%);
  background-color: $color-grey-ultralight;
  width: 280px;
  height: 110px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  text-align: center;
  display: table;
}

.imh__intro-heading-group {
  display: table-cell;
  vertical-align: middle;
}

.imh-intro-title {
  font-family: 'ralewaylight', $font-fallback;
  margin: 12px 0;

  .imh-title-strong {
    font-family: 'ralewayregular', $font-fallback;
    color: $color-grey-dark;
  }
}

.imh-intro-subtitle {
  font-family: 'ethos_regular_italic', $font-fallback;
  color: $color-grey-dark;
  margin: 12px 0;
}

@media (max-width: $screen-xs-max) {
  .imh__intro {
    //top: 42%;
  }
}