.imh__navigation-lang {
  position: absolute;
  top: 122px;
  right: -73px;

  li {
    color: $color-grey-medium;
    margin-bottom: 3px;

    &.current a {
      color: white;
      background-color: $color-grey-dark;
      border-color: $color-grey-dark;

      &:after {
        background-color: $color-grey-dark;
      }
    }
  }

  a {
    font-family: 'ralewaysemibold', $font-fallback;
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    color: $color-grey-dark;
    background-color: $color-grey-extremlight;
    border: 1px solid $color-grey-medium;
    text-align: center;
    font-size: $elevenpx;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    z-index: 0;

    &:after {
      content: "";
      background-color: rgb(0, 0, 0);
      background-color: rgba(0, 0, 0, .8);
      height: 100%;
      width: 100%;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: -1;
      @include transition(top, .3s, cubic-bezier(0,.92,.08,1), 0s);
    }

    &:hover {
      color: white;
      border: 1px solid $color-grey-dark;

      &:after {
        top: 0;
      }
    }
  }
}

// Media queries
// ==================================================

@media (max-width: $screen-sm-max) {
  .imh__navigation-lang {
    position: static;
    top: inherit;
    right: inherit;
    text-align: center;

    li {
      margin: 0 0 7px;

      &.current {
        a {
          background: none;
          border: 1px solid $color-grey-medium;
        }
      }

      a {
        background: none;
        border: 1px solid rgba(0, 0, 0, 0);
        color: white;
        display: inline-block;
        height: 50px;
        line-height: 50px;
        max-width: 75px;
        width: 100%;
        font-size: $fourteenpx;
        overflow: inherit;
        padding: 0 20px;

        &::after {
          content: normal;
        }

        &:hover {
          background-color: white;
          color: $color-grey-darker;
          border: none;
        }
      }
    }
  }
}
