@import "../../../../../../web/assets/lib/bootstrap/bootstrap";
@import "variables";
@import "mixins";

.flashbag-message {
  display: none;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100000;
}

.flashbag-message-content {
  @include transform(translate(-50%, -50%));
  @include border-radius(4px);
  @include box-shadow(0, 0, 15px, 3px, $color-grey-dark);
  background-color: $color-white;
  position: absolute;
  min-height: 200px;
  width: 80%;
  max-width: 400px;
  top: 50%;
  left: 50%;

  .top {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid $color-grey-medium;
    background-color: $color-grey-lighter;
    padding: 18px 20px;

    > p {
      margin: 0;
      font-size: $fourteenpx;
      text-transform: uppercase;
    }

    .close {
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }

  .msg {
    margin: 23px 0;
    padding: 0 20px;
    font-size: $fourteenpx;
  }
}

.imh__container--wrapper {
  background-color: $color-white;
  padding: 30px 60px 0;
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
  -moz-box-sizing: border-box;    /* Firefox 1 - 28 */
  box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */

  > p {
    color: $color-grey-dark;
    font-size: $fourteenpx;
    margin: 0;
    padding-bottom: 15px;
    border-bottom: 1px solid $color-grey-medium;
    text-transform: uppercase;
  }
}

.imh__contact {
  @include clearfix();
}

.imh__contact-form {
  background: url("/bundles/imhbase/images/stripes.png");
  padding: 80px 40px 40px;

  label {
    color: $color-grey-dark;
    font-size: $fourteenpx;
    display: inline-block;
    width: 40%;
    vertical-align: middle;
  }

  input, textarea {
    font-size: $fourteenpx;
    background-color: $color-grey-extremlight;
    color: $color-grey-dark;
    border: 1px solid $color-grey-medium;
    padding: 7px;
    -webkit-transition: border .2s ease-in, box-shadow .2s ease-in;
    -moz-transition: border .2s ease-in, box-shadow .2s ease-in;
    -o-transition: border .2s ease-in, box-shadow .2s ease-in;
    transition: border .2s ease-in, box-shadow .2s ease-in;
  }

  input {
    vertical-align: middle;
    width: 60%;
  }

  textarea {
    resize: vertical;
  }

  input:focus, textarea:focus {
    border: 1px solid $color-grey-darker;
    @include box-shadow(0, 0, 1px, 0, $color-grey-light);
    outline: none;
  }
}

.imh__contact-mandatory {
  color: $color-grey-dark;
  font-size: $fourteenpx;
  margin-top: 20px;
}

.imh__contact-info {
  > div {
    margin-bottom: 15px;
  }
}

.imh__contact-message {
  label {
    margin-top: 7px;
  }

  textarea {
    vertical-align: top;
    width: 60%;
    height: 157px;
  }
}

.imh__contact-message-send {
  font-size: $thirteenpx;
  text-align: right;
  margin-top: 30px;
  color: $color-grey-dark;

  button {
    text-transform: uppercase;
    background-color: $color-white;
    border: 1px solid $color-grey-medium;
    padding: 10px 22px;
    @include transition(all, .2s, ease-in, 0s);

    &:hover {
      background-color: $color-brown-dark;
      border: 1px solid $color-brown-dark;
      color: $color-white;
    }
  }
}