#footer {
  background: url("/bundles/imhbase/images/header-bg.png") repeat scroll 0 0;
  min-height: 110px;
  width: 100%;
  border-top: 1px solid lightgray;
  color: #898989;
  text-align: center;
  padding-bottom: 20px; }
  #footer .footer-column {
    border-left: 1px dotted #dddddd;
    display: inline-block;
    padding: 0 2% 0 20px;
    margin-top: 25px;
    text-align: left;
    vertical-align: top;
    min-height: 100px; }
    #footer .footer-column:first-child {
      border: none; }
    #footer .footer-column h3 {
      font-weight: bold;
      margin: 5px 0 15px;
      font-size: 1.083em; }
    #footer .footer-column ul {
      list-style: square inside none; }
      #footer .footer-column ul li {
        margin-bottom: 4px;
        white-space: nowrap; }
        #footer .footer-column ul li a, #footer .footer-column ul li span {
          color: #898989;
          font-size: 0.917em;
          font-family: Helvetica, Arial, sans-serif;
          display: inline-block;
          -webkit-transition: all 0.2s ease-in 0s;
          -moz-transition: all 0.2s ease-in 0s;
          -o-transition: all 0.2s ease-in 0s;
          transition: all 0.2s ease-in 0s; }
          #footer .footer-column ul li a:hover, #footer .footer-column ul li span:hover {
            color: #3f3f3f; }
        #footer .footer-column ul li.current {
          list-style: none; }
          #footer .footer-column ul li.current a, #footer .footer-column ul li.current span {
            color: #3f3f3f;
            background: white;
            border: 1px solid lightgray;
            border-radius: 16px;
            padding: 6px 10px; }
    #footer .footer-column.site ul {
      width: 175px; }
      #footer .footer-column.site ul li {
        float: left;
        width: 75px;
        padding-right: 10px; }
        #footer .footer-column.site ul li:nth-child(even) {
          padding-right: 0; }
    #footer .footer-column.follow .fb, #footer .footer-column.follow .tw, #footer .footer-column.follow .gp {
      display: inline-block;
      vertical-align: top;
      margin-right: 7px; }
    #footer .footer-column.follow .fb img {
      background: url("/bundles/imhbase/images/sprite.png") no-repeat scroll -8px -131px;
      height: 16px;
      width: 8px; }
    #footer .footer-column.follow .fb:hover img {
      background-position: 0 -131px; }
    #footer .footer-column.follow .tw img {
      background: url("/bundles/imhbase/images/sprite.png") no-repeat scroll -34px -131px;
      height: 16px;
      width: 18px; }
    #footer .footer-column.follow .tw:hover img {
      background-position: -16px -131px; }
    #footer .footer-column.follow .gp img {
      background: url("/bundles/imhbase/images/sprite.png") no-repeat scroll -74px -131px;
      height: 18px;
      width: 22px; }
    #footer .footer-column.follow .gp:hover img {
      background-position: -52px -131px; }
    #footer .footer-column.powered a img {
      background: url("/bundles/imhbase/images/sprite.png") no-repeat scroll -221px -131px;
      width: 63px;
      height: 61px;
      display: block; }
    #footer .footer-column.powered a:hover img {
      background-position: -158px -131px; }
  #footer p {
    font-size: 0.917em;
    margin: 20px 0 0; }
    #footer p span {
      font-size: 1.083em; }
