@import "../../../../../../web/assets/vendor/bootstrap-sass/assets/stylesheets/bootstrap";
@import "variables";
@import "mixins";

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); // Disable blue highlight when Touch/Press
  @include box-sizing(border-box);
}

html, body {
  height: 100%;
}

body {
  font-family: $font-stack, $font-fallback;
  font-size: $font-stack-size;
}

a {
  text-decoration: none;
  color: $color-black;
}

a.icon {
  display: inline-block;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button:focus {
  outline: none;
}

// IMH
//============================================

// Headings
.imh__title { font-weight: normal; }
.imh__title-h1 {}
.imh__title-h2 {
  font-family: 'ralewaymedium', $font-fallback;
  font-size: $fourteenpx;
  color: $color-grey-dark;
  line-height: 40px;
  margin: 0 0 20px;
}

.imh__title-h2--border {
  border: 1px solid $color-grey-light;
  background-color: $color-grey-extremlight;
}

> p {

  margin: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid $color-grey-medium;

}

.imh__bkg-image {
  position: absolute;
  top: 0;
  left: 120px;
  width: 100%;
  z-index: -1;
}

.imh__container-fluid {
  overflow: hidden;
}

.imh__content {
  @include make-row();
  position: relative;
}

.imh__container {
  position: relative;
  top: -34px;
  z-index: 1;
  max-width: 980px;
  padding: 0;
}

.imh__container--wrapper {
  background-color: $color-white;
  border-top: 34px solid $color-white;
  padding: 26px 0 45px;
  width: 100%;
  margin: 0 auto;
  position: relative;

  &.imh__container--shadows::after,
  &.imh__container--shadows::before {
    content: " ";
    position: absolute;
    top: -97px;
    width: 5px;
    height: 400px;
    z-index: -10;
  }

  &.imh__container--shadows::before {
    left: 11px;
    box-shadow: -10px 0 4px $color-grey-ultralight;
    transform: rotate(-1deg);
  }

  &.imh__container--shadows::after {
    right: 11px;
    box-shadow: 10px 0 4px $color-grey-ultralight;
    transform: rotate(1deg);
  }
}

.empty {
  width: 0;
  height: 0;
}

.lazy {
  display: none;
}

.block-triangle {
  @include opacity(0.4);
  position: absolute;
  top: 0;
  height: 100%;
  border-bottom-style: solid;
  border-bottom-color: $color-white;
  border-left-style: solid;
  border-left-color: rgba(0, 0, 0, 0);
  -moz-transform: scale(.9999); /* Antialiasing - trick for firefox */
}

@media (max-width: $screen-xs-max) {
  .imh__title-h2 {
    font-size: $basepx;
    line-height: 25px;
  }

  .imh__container--wrapper {
    border-top-width: 0;
    padding: 0;
  }

  .imh__title-h2--border {
    line-height: 40px;
  }

  .imh__content { padding-top: 65px; }

  .imh__container--shadows::after,
  .imh__container--shadows::before {
    display: none;
  }
}

@media (max-width: $screen-md-max) {
  .imh__bkg-image { display: none !important; }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .imh__bkg-image { left: 0; }
}