@import "../../../../../../web/assets/lib/bootstrap/bootstrap";
@import "variables";
@import "mixins";

* {
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); // Disable blue highlight when Touch/Press
  @include box-sizing(border-box);
}

html, body {
  height: 100%;
}

body {
  font-family: $font-stack, $font-fallback;
  font-size: $font-stack-size;
}

a {
  text-decoration: none;
  color: #000000;
}

a.icon {
  display: inline-block;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// Helpers
//============================================
.helper-no-padding { padding: 0 !important; }
.helper-no-margin { margin: 0 !important; }
.helper-no-padding-left { padding-left: 0 !important; }
.helper-no-padding-right { padding-right: 0 !important; }


.imh__bkg-image {
  position: absolute;
  top: 0;
  left: 120px;
  width: 100%;
  z-index: -1;
}

.imh__container-fluid {
  overflow: hidden;
}

.imh__content {
  @include make-row();
  position: relative;
}

.imh__container {
  position: relative;
  top: -34px;
  z-index: 1;
  max-width: 980px;
  padding: 0;
}

.imh__container--wrapper {
  background-color: $color-white;
  border-top: 34px solid $color-white;
  padding: 26px 0 45px;
  width: 100%;
  margin: 0 auto;
  position: relative;

  &.imh__container--shadows::after,
  &.imh__container--shadows::before {
    content: " ";
    position: absolute;
    top: -97px;
    width: 5px;
    height: 400px;
    z-index: -10;
  }

  &.imh__container--shadows::before {
    left: 11px;
    box-shadow: -10px 0 4px $color-grey-ultralight;
    transform: rotate(-1deg);
  }

  &.imh__container--shadows::after {
    right: 11px;
    box-shadow: 10px 0 4px $color-grey-ultralight;
    transform: rotate(1deg);
  }

  h1 {
    font-family: cinzelregular, sans-serif;
    font-size: $fourtypx;
    margin: 0 0 6px;
    color: $color-greybrown-dark;
  }
}

.empty {
  width: 0;
  height: 0;
}

.lazy {
  display: none;
}

.block-triangle {
  @include opacity(0.4);
  position: absolute;
  top: 0;
  height: 100%;
  border-bottom-style: solid;
  border-bottom-color: $color-white;
  border-left-style: solid;
  border-left-color: rgba(0, 0, 0, 0);
  -moz-transform: scale(.9999); /* Antialiasing - trick for firefox */
}

@media (max-width: $screen-xs-max) {

}

@media (max-width: $screen-md-max) {
  .imh__bkg-image { display: none !important; }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .imh__bkg-image { left: 0; }
}