@import "variables";

html.no-touchevents {
  @media screen and (device-aspect-ratio: 16/9),
         screen and (device-aspect-ratio: 16/10) {

    .bkg-image {
      right: -250px;
    }
  }

  @media all and (orientation: portrait) {
    #home-content {
      &.makeAnimation {
        .bkg-image-ctn {
          width: 100%;
        }
        .block-myself {
          display: none;
        }
      }
    }

    #sidebar-main, #trigger { display: none; }

    #content {
      #gallery-wrapper {
        #sonata-media-gallery-media-list {
          height: auto;
          .sonata-media-gallery-media-item {
            height: auto;
            width: 33.33%;
            .sonata-media-gallery-media-item-link {
              .media-object {
                height: auto;
                width: 100%;
              }
            }
            &.expanded {
              height: auto;
              width: 66.66%;
              .sonata-media-gallery-media-item-link {
                .media-object {
                  height: auto;
                  width: 100%;
                }
              }
            }
          }
        }
      }
      #scrollbar {
        display: none;
      }
    }
  }

  /*@media all and (orientation: landscape) {
    #content {
      #sonata-media-gallery-media-list {
        height: 100%;
        .sonata-media-gallery-media-item {
          height: 50%;
          .sonata-media-gallery-media-item-link {
            .media-object {
              height: 100%;
              width: auto;
            }
          }
          &.expanded {
            height: 100%;
            width: auto;
            .sonata-media-gallery-media-item-link {
              .media-object {
                height: 100%;
                max-height: 100%;

              }
            }
          }
        }
      }
    }
  }*/
}

html.touchevents {
  /* ----------- iPad 3 and 4 ----------- */

  /* Portrait and Landscape */
  @media only screen and (min-device-width: 768px)
                     and (max-device-width: 1024px)
                     and (-webkit-min-device-pixel-ratio: 2) {

    /* Home */
    .navigation-menu {
      left: -9999px;
    }

    .bkg-image-ctn {
      img:first-child {
        display: none;
      }
    }

    .block-language {
      a {
        width: 90px;
        line-height: 40px;
        font-size: $elevenpx;
        margin-right: 10px;
      }
    }

    /* Other pages */
    #header {
      .navigation {
        background: none;
        border: none;
      }
    }
  }

  /* Portrait */
  @media only screen and (min-device-width: 768px)
                     and (max-device-width: 1024px)
                     and (orientation: portrait)
                     and (-webkit-min-device-pixel-ratio: 2) {

  }

  /* Landscape */
  @media only screen and (min-device-width: 768px)
                     and (max-device-width: 1024px)
                     and (orientation: landscape)
                     and (-webkit-min-device-pixel-ratio: 2) {

    #home-content {
      .block-myself {
        h1 {
          font-size: 2em;
        }
        h2 {
          font-size: 2em;
        }
        h3 {
          font-size: 1.5em;
        }
      }
    }
  }

  /* Smartphones (portrait and landscape) ----------- */

  @media only screen and (min-device-width: 320px)
                     and (max-device-width: 480px) {

    #home-content {
      .block-myself {
        .block-center {
          margin-top: -60px;
        }
        h1 {
          font-size: 2em;
        }
        h2 {
          font-size: 2em;
        }
        h3 {
          font-size: 1em;
        }
      }
    }
  }

  /* Galaxy Tab 10.1 ----------- */

  /* Portrait and Landscape */
  @media only screen and (min-width: 800px)
                     and (max-width: 1280px) {

    #bkg-image {
      left: 0;
    }
  }

  /* Portrait */
  @media only screen and (max-width: 800px)
                     and (max-aspect-ratio: 13/9) { //bugfix aspect ratio android = orientation: portrait

    #sidebar-main, #trigger { display: none; }

    #header {
      .navigation {
        background: none;
        border: none;
        height: auto;

        .wrapper {
          top: 0;
        }

        ul {
          li {
            height: 100px;
            width: 16.74%;
            a, span {
              height: 99px;
              line-height: 101px;
              padding: 0;
            }
          }
        }
      }
    }

    #wrapper {
      max-width: 800px;
    }

    #content {
      padding: 3%;
      height: calc(100% - 100px);

      .main-content-wrapper {
        max-width: none;
        top: 0;
        .middle {
          padding-top: 10px;
          border-top: none;
          &.shadows {
            &:before, &:after {
              content: normal;
            }
          }
          .lang {
            position: static;
            text-align: right;
            margin: 0 0 50px;
            li {
              display: inline-block;
              margin-bottom: 0;
              &.current {
                a {
                  background-color: $color-grey-darker;
                }
              }
              a {
                height: auto;
                width: auto;
                line-height: normal;
                padding: 15px;
                border: none;
                display: block;
              }
            }
          }

          // Biography
          .prizes {
            .slider-title {
              line-height: 46px;
              &:after {
                top: 15px;
              }
            }
            &.closed {
              .slider-title {
                &:after {
                  top: 15px;
                }
              }
            }
          }

          // Repertoire
          .concert-wrapper {
            padding: 0;
            li {
              img {
                width: 52%;
              }
              .concert {
                width: 42%;
              }
            }
          }

          // Contact
          #form-contact {
            .contact-info, .contact-message {
              float: none;
              width: 100%;
            }
            .contact-info {
              label {
                width: 25%;
              }
              input {
                box-sizing: border-box;
                width: 75%;
              }
              > div {
                margin-bottom: 25px;
              }
            }
            .contact-message {
              margin-top: 50px;
              textarea {
                box-sizing: border-box;
                width: 75%;
              }
            }
            > p {
              margin-top: 50px;
            }
            .send {
              margin-top: 60px;
            }
          }
        }
      }

      // Gallery
      #gallery-wrapper {
        width: 100%;
        height: 100%;

        #sonata-media-gallery-media-list {
          height: auto;
          .sonata-media-gallery-media-item {
            width: 33.33%;
            height: auto;
            .sonata-media-gallery-media-item-link {
              .media-object {
                height: auto;
                width: 100%;
              }
            }
            &.expanded {
              width: auto;
              height: auto;
              .sonata-media-gallery-media-item-link {
                .media-object {
                  height: auto;
                  width: auto;
                  max-width: 100%;
                }
              }
            }
          }
        }

        #scrollbar {
          top: 0;
          right: -20px;
          bottom: inherit;
          left: inherit;
          width: 5px;
          height: 100%;

          .handle {
            width: 100%;
            height: 100px; /* overriden if dynamicHandle: 1 */

            .mousearea {
              position: absolute;
              top: 0;
              left: -12px;
              width: 25px;
              height: 100%;
            }
          }
        }
      }

    }

    #footer {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  /* Landscape */
  @media only screen and (max-width: 1280px)
                     and (min-aspect-ratio: 13/9) { //bugfix aspect ratio android = orientation: landscape

    #header {
      .navigation {
        .wrapper {
          top: 0;
        }

        ul {
          li {
            height: 100px;
            width: 15%;
            a, span {
              height: 99px;
              line-height: 101px;
              padding: 0;
            }
          }
        }
      }
    }

    #content {
      .main-content-wrapper {
        .middle {
          .prizes {
            .slider-title {
              line-height: 46px;
              &:after {
                top: 15px;
              }
            }
            &.closed {
              .slider-title {
                &:after {
                  top: 15px;
                }
              }
            }
          }
        }
      }
      #gallery-wrapper {
        #sonata-media-gallery-media-list {
          height: 100%;
          .sonata-media-gallery-media-item {
            height: 50%;
            width: auto;
            .sonata-media-gallery-media-item-link {
              .media-object {
                height: 100%;
                width: auto;
              }
            }
            &.expanded {
              height: 100%;
              width: auto;
              .sonata-media-gallery-media-item-link {
                .media-object {
                  height: 100%;
                  max-height: 100%;
                  width: auto;
                }
              }
            }
          }
        }
      }
    }
  }
}