@import "variables";
@import "mixins";

#header {
  .navigation {
    background: url("/bundles/imhbase/images/header-bg.png") repeat rgba(255, 208, 247, 0.04);
    border-bottom: 1px solid $color-grey-light;
    border-top: 1px solid $color-white;
    height: 126px;

    .wrapper {
      border-top: 1px solid $color-grey-darker;
      border-bottom: 1px solid $color-grey-darker;
      background: $color-white;
      position:relative;
      top: 27px;
      margin: 0 auto;
      max-width: 980px;
      z-index: 2;

      /*&:after {
        position: absolute;
        content: "";
        right: 1px;
        top: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 20px 20px 0;
        border-color: transparent $color-white transparent transparent;
      }*/
    }

    ul {
      background: $color-grey-darker;
      text-align: center;

      li {
        display: inline-block;
        position: relative;
        top: -1px;
        margin: 0 -1px -2px 0;
        height: 63px;
        z-index: 1;

        a, span {
          color: $color-white;
          //font-family: "Georgia", Times, serif;
          font-size: $fourteenpx;
          display: block;
          padding: 0 20px;
          text-transform: uppercase;
        }

        span {
          height: 62px;
          line-height: 64px;
        }

        a {
          border: 1px solid rgba(0, 0, 0, 0);
          @include transition(all, 0.1s, ease-in, 0s);
          height: 62px;
          line-height: 64px;

          &:hover {
            background-color: $color-white;
            color: $color-grey-darker;
            border: 1px solid $color-grey-darker;
          }
        }

        &.current {
          background-color: $color-white;
          border: 1px solid $color-grey-darker;
          border-bottom: none;

          span {
            color: $color-grey-darker;
            border-bottom-color: $color-white;
          }
        }
      }
    }

    .fa {
      position: relative;
      top: -2px;
      vertical-align: middle;

      & + span {
        display: none;
      }
    }
  }
}