@import "variables";
@import "mixins";

#sidebar-main {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.navigation-menu {
  position: fixed;
  top: 270px;
  left: 20px;
  width: 120px;
  display: none;

  .title {
    border-bottom: 1px solid $color-grey-dark;
    padding-bottom: 7px;
    color: $color-grey-medium;
    text-transform: uppercase;
    font-weight: normal;

    .fa {
      color: $color-grey-medium;
      margin-right: 2px;
    }
  }

  ul {
    background: url("/bundles/imhbase/images/header-bg.png") repeat scroll 0 0;
    border: 1px solid $color-grey-medium;
    width: 40px;
    margin-top: 20px;

    li:not(.gallery) {
      position: relative;
      height: 40px;
      cursor: pointer;

      &.first {
        margin-top: 17px;
      }

      &.last {
        margin-bottom: 17px;
      }

      &:after {
        border: 1px solid $color-grey-medium;
        @include transition(all, 0.2s, ease-in, 0s);
        content: " ";
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -6px 0 0 -6px;
        width: 8px;
        height: 8px;
        padding: 1px;
      }

      &.current {
        &:after {
          background-color: $color-grey-dark;
          border: 1px solid $color-grey-dark;
          margin: -6px 0 0 -6px;
        }

        a, span {
          background: url("/bundles/imhbase/images/header-bg.png") repeat scroll 0 0;
          color: $color-grey-darker;
          border: 1px solid $color-grey-medium;
          border-left: none;
          margin-left: 40px;
          padding-right: 16px;
          text-indent: 13px;
        }
      }

      &:hover {
        &:after {
          border: 1px solid $color-grey-dark;
          background: $color-grey-dark;
        }

        a {
          color: $color-grey-darker;
        }
      }

      a, span {
        color: $color-black;
        font-size: $basepx;
        display: inline-block;
        position: relative;
        text-indent: 53px;
        height: 38px;
        line-height: 40px;
        z-index: 1;
      }

      .fa-home {
        display: none;

        & + span {
          display: inline;
        }
      }
    }
  }
}