@-webkit-keyframes pop-icon-in {
  0% {
    opacity: 0;
    /* Good browsers */
    -moz-opacity: 0;
    /* Netscape */
    -khtml-opacity: 0;
    /* Safari 1.x */
    filter: alpha(opacity=0);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 8 */
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }
  100% {
    opacity: 0.8;
    /* Good browsers */
    -moz-opacity: 0.8;
    /* Netscape */
    -khtml-opacity: 0.8;
    /* Safari 1.x */
    filter: alpha(opacity=80);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    /* IE 8 */
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes pop-icon-in {
  0% {
    opacity: 0;
    /* Good browsers */
    -moz-opacity: 0;
    /* Netscape */
    -khtml-opacity: 0;
    /* Safari 1.x */
    filter: alpha(opacity=0);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 8 */
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }
  100% {
    opacity: 0.8;
    /* Good browsers */
    -moz-opacity: 0.8;
    /* Netscape */
    -khtml-opacity: 0.8;
    /* Safari 1.x */
    filter: alpha(opacity=80);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    /* IE 8 */
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-ms-keyframes pop-icon-in {
  0% {
    opacity: 0;
    /* Good browsers */
    -moz-opacity: 0;
    /* Netscape */
    -khtml-opacity: 0;
    /* Safari 1.x */
    filter: alpha(opacity=0);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 8 */
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }
  100% {
    opacity: 0.8;
    /* Good browsers */
    -moz-opacity: 0.8;
    /* Netscape */
    -khtml-opacity: 0.8;
    /* Safari 1.x */
    filter: alpha(opacity=80);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    /* IE 8 */
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-o-keyframes pop-icon-in {
  0% {
    opacity: 0;
    /* Good browsers */
    -moz-opacity: 0;
    /* Netscape */
    -khtml-opacity: 0;
    /* Safari 1.x */
    filter: alpha(opacity=0);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 8 */
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }
  100% {
    opacity: 0.8;
    /* Good browsers */
    -moz-opacity: 0.8;
    /* Netscape */
    -khtml-opacity: 0.8;
    /* Safari 1.x */
    filter: alpha(opacity=80);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    /* IE 8 */
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@keyframes pop-icon-in {
  0% {
    opacity: 0;
    /* Good browsers */
    -moz-opacity: 0;
    /* Netscape */
    -khtml-opacity: 0;
    /* Safari 1.x */
    filter: alpha(opacity=0);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 8 */
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }
  100% {
    opacity: 0.8;
    /* Good browsers */
    -moz-opacity: 0.8;
    /* Netscape */
    -khtml-opacity: 0.8;
    /* Safari 1.x */
    filter: alpha(opacity=80);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    /* IE 8 */
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-webkit-keyframes pop-icon-out {
  0% {
    opacity: 0.8;
    /* Good browsers */
    -moz-opacity: 0.8;
    /* Netscape */
    -khtml-opacity: 0.8;
    /* Safari 1.x */
    filter: alpha(opacity=80);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    /* IE 8 */
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  100% {
    opacity: 0;
    /* Good browsers */
    -moz-opacity: 0;
    /* Netscape */
    -khtml-opacity: 0;
    /* Safari 1.x */
    filter: alpha(opacity=0);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 8 */
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); } }
@-moz-keyframes pop-icon-out {
  0% {
    opacity: 0.8;
    /* Good browsers */
    -moz-opacity: 0.8;
    /* Netscape */
    -khtml-opacity: 0.8;
    /* Safari 1.x */
    filter: alpha(opacity=80);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    /* IE 8 */
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  100% {
    opacity: 0;
    /* Good browsers */
    -moz-opacity: 0;
    /* Netscape */
    -khtml-opacity: 0;
    /* Safari 1.x */
    filter: alpha(opacity=0);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 8 */
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); } }
@-ms-keyframes pop-icon-out {
  0% {
    opacity: 0.8;
    /* Good browsers */
    -moz-opacity: 0.8;
    /* Netscape */
    -khtml-opacity: 0.8;
    /* Safari 1.x */
    filter: alpha(opacity=80);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    /* IE 8 */
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  100% {
    opacity: 0;
    /* Good browsers */
    -moz-opacity: 0;
    /* Netscape */
    -khtml-opacity: 0;
    /* Safari 1.x */
    filter: alpha(opacity=0);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 8 */
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); } }
@-o-keyframes pop-icon-out {
  0% {
    opacity: 0.8;
    /* Good browsers */
    -moz-opacity: 0.8;
    /* Netscape */
    -khtml-opacity: 0.8;
    /* Safari 1.x */
    filter: alpha(opacity=80);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    /* IE 8 */
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  100% {
    opacity: 0;
    /* Good browsers */
    -moz-opacity: 0;
    /* Netscape */
    -khtml-opacity: 0;
    /* Safari 1.x */
    filter: alpha(opacity=0);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 8 */
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); } }
@keyframes pop-icon-out {
  0% {
    opacity: 0.8;
    /* Good browsers */
    -moz-opacity: 0.8;
    /* Netscape */
    -khtml-opacity: 0.8;
    /* Safari 1.x */
    filter: alpha(opacity=80);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    /* IE 8 */
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  100% {
    opacity: 0;
    /* Good browsers */
    -moz-opacity: 0;
    /* Netscape */
    -khtml-opacity: 0;
    /* Safari 1.x */
    filter: alpha(opacity=0);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 8 */
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); } }
@-webkit-keyframes make-opacity-in {
  0% {
    opacity: 0;
    /* Good browsers */
    -moz-opacity: 0;
    /* Netscape */
    -khtml-opacity: 0;
    /* Safari 1.x */
    filter: alpha(opacity=0);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 8 */ }
  100% {
    opacity: 1;
    /* Good browsers */
    -moz-opacity: 1;
    /* Netscape */
    -khtml-opacity: 1;
    /* Safari 1.x */
    filter: alpha(opacity=100);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    /* IE 8 */ } }
@-moz-keyframes make-opacity-in {
  0% {
    opacity: 0;
    /* Good browsers */
    -moz-opacity: 0;
    /* Netscape */
    -khtml-opacity: 0;
    /* Safari 1.x */
    filter: alpha(opacity=0);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 8 */ }
  100% {
    opacity: 1;
    /* Good browsers */
    -moz-opacity: 1;
    /* Netscape */
    -khtml-opacity: 1;
    /* Safari 1.x */
    filter: alpha(opacity=100);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    /* IE 8 */ } }
@-ms-keyframes make-opacity-in {
  0% {
    opacity: 0;
    /* Good browsers */
    -moz-opacity: 0;
    /* Netscape */
    -khtml-opacity: 0;
    /* Safari 1.x */
    filter: alpha(opacity=0);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 8 */ }
  100% {
    opacity: 1;
    /* Good browsers */
    -moz-opacity: 1;
    /* Netscape */
    -khtml-opacity: 1;
    /* Safari 1.x */
    filter: alpha(opacity=100);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    /* IE 8 */ } }
@-o-keyframes make-opacity-in {
  0% {
    opacity: 0;
    /* Good browsers */
    -moz-opacity: 0;
    /* Netscape */
    -khtml-opacity: 0;
    /* Safari 1.x */
    filter: alpha(opacity=0);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 8 */ }
  100% {
    opacity: 1;
    /* Good browsers */
    -moz-opacity: 1;
    /* Netscape */
    -khtml-opacity: 1;
    /* Safari 1.x */
    filter: alpha(opacity=100);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    /* IE 8 */ } }
@keyframes make-opacity-in {
  0% {
    opacity: 0;
    /* Good browsers */
    -moz-opacity: 0;
    /* Netscape */
    -khtml-opacity: 0;
    /* Safari 1.x */
    filter: alpha(opacity=0);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 8 */ }
  100% {
    opacity: 1;
    /* Good browsers */
    -moz-opacity: 1;
    /* Netscape */
    -khtml-opacity: 1;
    /* Safari 1.x */
    filter: alpha(opacity=100);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    /* IE 8 */ } }
@-webkit-keyframes make-opacity-out {
  0% {
    opacity: 1;
    /* Good browsers */
    -moz-opacity: 1;
    /* Netscape */
    -khtml-opacity: 1;
    /* Safari 1.x */
    filter: alpha(opacity=100);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    /* IE 8 */ }
  100% {
    opacity: 0;
    /* Good browsers */
    -moz-opacity: 0;
    /* Netscape */
    -khtml-opacity: 0;
    /* Safari 1.x */
    filter: alpha(opacity=0);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 8 */ } }
@-moz-keyframes make-opacity-out {
  0% {
    opacity: 1;
    /* Good browsers */
    -moz-opacity: 1;
    /* Netscape */
    -khtml-opacity: 1;
    /* Safari 1.x */
    filter: alpha(opacity=100);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    /* IE 8 */ }
  100% {
    opacity: 0;
    /* Good browsers */
    -moz-opacity: 0;
    /* Netscape */
    -khtml-opacity: 0;
    /* Safari 1.x */
    filter: alpha(opacity=0);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 8 */ } }
@-ms-keyframes make-opacity-out {
  0% {
    opacity: 1;
    /* Good browsers */
    -moz-opacity: 1;
    /* Netscape */
    -khtml-opacity: 1;
    /* Safari 1.x */
    filter: alpha(opacity=100);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    /* IE 8 */ }
  100% {
    opacity: 0;
    /* Good browsers */
    -moz-opacity: 0;
    /* Netscape */
    -khtml-opacity: 0;
    /* Safari 1.x */
    filter: alpha(opacity=0);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 8 */ } }
@-o-keyframes make-opacity-out {
  0% {
    opacity: 1;
    /* Good browsers */
    -moz-opacity: 1;
    /* Netscape */
    -khtml-opacity: 1;
    /* Safari 1.x */
    filter: alpha(opacity=100);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    /* IE 8 */ }
  100% {
    opacity: 0;
    /* Good browsers */
    -moz-opacity: 0;
    /* Netscape */
    -khtml-opacity: 0;
    /* Safari 1.x */
    filter: alpha(opacity=0);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 8 */ } }
@keyframes make-opacity-out {
  0% {
    opacity: 1;
    /* Good browsers */
    -moz-opacity: 1;
    /* Netscape */
    -khtml-opacity: 1;
    /* Safari 1.x */
    filter: alpha(opacity=100);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    /* IE 8 */ }
  100% {
    opacity: 0;
    /* Good browsers */
    -moz-opacity: 0;
    /* Netscape */
    -khtml-opacity: 0;
    /* Safari 1.x */
    filter: alpha(opacity=0);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 8 */ } }
body {
  background-color: #000000; }

#wrapper {
  height: 100%;
  position: relative; }
  #wrapper:before, #wrapper:after {
    content: '';
    position: absolute;
    background: url("/bundles/imhbase/images/points.png") repeat scroll 2px -2px;
    height: 100px;
    width: 100%;
    opacity: 0.8;
    /* Good browsers */
    -moz-opacity: 0.8;
    /* Netscape */
    -khtml-opacity: 0.8;
    /* Safari 1.x */
    filter: alpha(opacity=80);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    /* IE 8 */ }
  #wrapper:before {
    top: 0; }
  #wrapper:after {
    bottom: 3px; }
  #wrapper #sidebar-main {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.95);
    padding: 0 100px;
    height: 100%;
    /*.block-triangle {
      @include opacity(.95);
      border-bottom-color: $color-white;

      &+.navigation-menu {
        margin-top: 130px;
      }
    }*/ }
    #wrapper #sidebar-main .gallery-menu li.first, #wrapper #sidebar-main .navigation-menu > span {
      color: #898989; }
    #wrapper #sidebar-main .navigation-menu {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      position: static;
      display: block;
      height: 50%;
      padding-top: 50%; }
      #wrapper #sidebar-main .navigation-menu.gallery-menu > ul {
        border: none;
        margin: 0; }
      #wrapper #sidebar-main .navigation-menu ul {
        background: #000000;
        border: 1px solid #3F3F3F; }
        #wrapper #sidebar-main .navigation-menu ul li a, #wrapper #sidebar-main .navigation-menu ul li span {
          color: #D3D3D3;
          white-space: nowrap; }
        #wrapper #sidebar-main .navigation-menu ul li:hover:after {
          background-color: #FFFFFF;
          border-color: #FFFFFF; }
        #wrapper #sidebar-main .navigation-menu ul li.current a, #wrapper #sidebar-main .navigation-menu ul li.current span {
          background: #000000;
          border-color: #3F3F3F;
          color: #D3D3D3; }
        #wrapper #sidebar-main .navigation-menu ul li.current:after {
          background-color: #FFFFFF;
          border-color: #FFFFFF;
          box-shadow: none; }
        #wrapper #sidebar-main .navigation-menu ul li:first-child {
          margin-top: 17px; }
        #wrapper #sidebar-main .navigation-menu ul li:last-child {
          margin-bottom: 17px; }
        #wrapper #sidebar-main .navigation-menu ul li:after {
          border-color: #222222; }
      #wrapper #sidebar-main .navigation-menu .fa-home {
        display: none; }
        #wrapper #sidebar-main .navigation-menu .fa-home + span {
          display: inline; }

#content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: -webkit-calc(100% - 200px);
  height: calc(100% - 200px);
  padding: 1.5%;
  width: 100%;
  position: relative;
  top: 100px; }
  #content #gallery-wrapper {
    -webkit-transition: opacity 0.3s linear 0.5s;
    -moz-transition: opacity 0.3s linear 0.5s;
    -o-transition: opacity 0.3s linear 0.5s;
    transition: opacity 0.3s linear 0.5s;
    height: 100%;
    position: relative;
    /*#trigger {
      position: absolute;
      right: 18%;
      top: 0;
      width: 30px;
      height: 100%;
      z-index: 9999;

      a {
        position: relative;
        top: 50%;
        margin-top: -32px;
        display: block;

        img {
          background: url("/bundles/imhbase/images/sprite.png") no-repeat scroll -2px -242px;
          height: 64px;
          width: 30px;
          display: block;
        }
        &:hover {
          img {
            background-position: -33px -242px;
          }
        }
      }
    }*/ }
    #content #gallery-wrapper #frame {
      height: 100%; }
    #content #gallery-wrapper #trigger {
      display: none; }
    #content #gallery-wrapper.loading {
      -webkit-transition: opacity 0.2s linear 0s;
      -moz-transition: opacity 0.2s linear 0s;
      -o-transition: opacity 0.2s linear 0s;
      transition: opacity 0.2s linear 0s;
      opacity: 0;
      /* Good browsers */
      -moz-opacity: 0;
      /* Netscape */
      -khtml-opacity: 0;
      /* Safari 1.x */
      filter: alpha(opacity=0);
      /* IE 5-7 */
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      /* IE 8 */ }
      #content #gallery-wrapper.loading + #spinner {
        -webkit-transition: opacity 0.2s linear 0.3s;
        -moz-transition: opacity 0.2s linear 0.3s;
        -o-transition: opacity 0.2s linear 0.3s;
        transition: opacity 0.2s linear 0.3s;
        opacity: 1;
        /* Good browsers */
        -moz-opacity: 1;
        /* Netscape */
        -khtml-opacity: 1;
        /* Safari 1.x */
        filter: alpha(opacity=100);
        /* IE 5-7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        /* IE 8 */ }
  #content #scrollbar {
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 100%;
    z-index: 1; }
    #content #scrollbar:after {
      -webkit-transition: width 0.4s ease 0s;
      -moz-transition: width 0.4s ease 0s;
      -o-transition: width 0.4s ease 0s;
      transition: width 0.4s ease 0s;
      content: '';
      position: absolute;
      height: 2px;
      width: 0;
      top: 0;
      background: #222222; }
    #content #scrollbar .handle {
      opacity: 0;
      /* Good browsers */
      -moz-opacity: 0;
      /* Netscape */
      -khtml-opacity: 0;
      /* Safari 1.x */
      filter: alpha(opacity=0);
      /* IE 5-7 */
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      /* IE 8 */
      -webkit-transition: background .2s linear, opacity .2s ease .4s, width .2s ease;
      -moz-transition: background .2s linear, opacity .2s ease .4s, width .2s ease;
      -ms-transition: background .2s linear, opacity .2s ease .4s, width .2s ease;
      /* IE10 is actually unprefixed */
      -o-transition: background .2s linear, opacity .2s ease .4s, width .2s ease;
      transition: background .2s linear, opacity .2s ease .4s, width .2s ease;
      cursor: pointer;
      background: #3F3F3F;
      width: 100px;
      /* overriden if dynamicHandle: 1 */
      height: 100%;
      position: relative;
      z-index: 1; }
      #content #scrollbar .handle:hover {
        background: #D3D3D3; }
      #content #scrollbar .handle .mousearea {
        position: absolute;
        top: -31px;
        left: 0;
        height: 128px;
        width: 100%; }
    #content #scrollbar.mA_2 .handle {
      opacity: 1;
      /* Good browsers */
      -moz-opacity: 1;
      /* Netscape */
      -khtml-opacity: 1;
      /* Safari 1.x */
      filter: alpha(opacity=100);
      /* IE 5-7 */
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      /* IE 8 */ }
    #content #scrollbar.mA_2:after {
      width: 100%; }
  #content #sonata-media-gallery-media-list {
    height: 100%; }
    #content #sonata-media-gallery-media-list .sonata-media-gallery-media-item {
      height: 50%;
      -webkit-transition: opacity 0.5s linear 0s;
      -moz-transition: opacity 0.5s linear 0s;
      -o-transition: opacity 0.5s linear 0s;
      transition: opacity 0.5s linear 0s; }
      #content #sonata-media-gallery-media-list .sonata-media-gallery-media-item.mA_1 {
        opacity: 0.1;
        /* Good browsers */
        -moz-opacity: 0.1;
        /* Netscape */
        -khtml-opacity: 0.1;
        /* Safari 1.x */
        filter: alpha(opacity=10);
        /* IE 5-7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
        /* IE 8 */ }
        #content #sonata-media-gallery-media-list .sonata-media-gallery-media-item.mA_1 .sonata-media-gallery-media-item-link {
          cursor: default; }
          #content #sonata-media-gallery-media-list .sonata-media-gallery-media-item.mA_1 .sonata-media-gallery-media-item-link:hover .media-object {
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -o-transform: scale(1);
            transform: scale(1); }
          #content #sonata-media-gallery-media-list .sonata-media-gallery-media-item.mA_1 .sonata-media-gallery-media-item-link:after {
            display: none; }
      #content #sonata-media-gallery-media-list .sonata-media-gallery-media-item .sonata-media-gallery-media-item-link {
        display: block;
        overflow: hidden;
        position: relative;
        height: 100%;
        cursor: default;
        /*.media-bar {
          background-color: rgb(0, 0, 0);
          background-color: rgba(0, 0, 0, 0.8);
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 70px;

          @include transform(translate(0, 100%));
          -webkit-transition:-webkit-transform .3s cubic-bezier(0,.92,.08,1) .2s;
          -moz-transition:   -moz-transform .3s cubic-bezier(0,.92,.08,1) .2s;
          -ms-transition:    -ms-transform .3s cubic-bezier(0,.92,.08,1) .2s;
          transition:        transform .3s cubic-bezier(0,.92,.08,1) .2s;

          .media-description {
            float: left;
            color: $color-white;
            margin: 0 0 0 10px;
            height: 37px;
            line-height: 37px;
            font-weight: bold;
          }
        }*/ }
        #content #sonata-media-gallery-media-list .sonata-media-gallery-media-item .sonata-media-gallery-media-item-link .media-object {
          -webkit-transition: all 1s ease 0s;
          -moz-transition: all 1s ease 0s;
          -o-transition: all 1s ease 0s;
          transition: all 1s ease 0s;
          -webkit-backface-visibility: hidden;
          display: block;
          height: 100%;
          width: auto; }
        #content #sonata-media-gallery-media-list .sonata-media-gallery-media-item .sonata-media-gallery-media-item-link .media-btns {
          display: none; }
        #content #sonata-media-gallery-media-list .sonata-media-gallery-media-item .sonata-media-gallery-media-item-link .plus-icon {
          opacity: 0;
          /* Good browsers */
          -moz-opacity: 0;
          /* Netscape */
          -khtml-opacity: 0;
          /* Safari 1.x */
          filter: alpha(opacity=0);
          /* IE 5-7 */
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
          /* IE 8 */
          -webkit-animation: pop-icon-out .2s;
          -moz-animation: pop-icon-out .2s;
          -ms-animation: pop-icon-out .2s;
          -o-animation: pop-icon-out .2s;
          animation: pop-icon-out .2s;
          cursor: pointer;
          position: absolute;
          top: 50%;
          left: 50%;
          width: 3px;
          height: 3px;
          background: #000000; }
          #content #sonata-media-gallery-media-list .sonata-media-gallery-media-item .sonata-media-gallery-media-item-link .plus-icon:before, #content #sonata-media-gallery-media-list .sonata-media-gallery-media-item .sonata-media-gallery-media-item-link .plus-icon:after {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            background: #FFFFFF;
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -o-transform: scale(1);
            transform: scale(1); }
          #content #sonata-media-gallery-media-list .sonata-media-gallery-media-item .sonata-media-gallery-media-item-link .plus-icon:before {
            width: 1px;
            height: 18px;
            -webkit-transform: translate(0, -50%);
            -moz-transform: translate(0, -50%);
            -o-transform: translate(0, -50%);
            transform: translate(0, -50%); }
          #content #sonata-media-gallery-media-list .sonata-media-gallery-media-item .sonata-media-gallery-media-item-link .plus-icon:after {
            width: 18px;
            height: 1px;
            -webkit-transform: translate(-50%, 0);
            -moz-transform: translate(-50%, 0);
            -o-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
        #content #sonata-media-gallery-media-list .sonata-media-gallery-media-item .sonata-media-gallery-media-item-link:hover .media-object {
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -o-transform: scale(1.1);
          transform: scale(1.1); }
        #content #sonata-media-gallery-media-list .sonata-media-gallery-media-item .sonata-media-gallery-media-item-link:hover .media-bar {
          -webkit-transform: translate(0, 0%);
          -moz-transform: translate(0, 0%);
          -o-transform: translate(0, 0%);
          transform: translate(0, 0%); }
        #content #sonata-media-gallery-media-list .sonata-media-gallery-media-item .sonata-media-gallery-media-item-link:hover .plus-icon {
          -webkit-animation: pop-icon-in .4s;
          -moz-animation: pop-icon-in .4s;
          -ms-animation: pop-icon-in .4s;
          -o-animation: pop-icon-in .4s;
          animation: pop-icon-in .4s;
          opacity: 0.8;
          /* Good browsers */
          -moz-opacity: 0.8;
          /* Netscape */
          -khtml-opacity: 0.8;
          /* Safari 1.x */
          filter: alpha(opacity=80);
          /* IE 5-7 */
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
          /* IE 8 */ }
      #content #sonata-media-gallery-media-list .sonata-media-gallery-media-item.expanded {
        height: 100%;
        width: auto; }
        #content #sonata-media-gallery-media-list .sonata-media-gallery-media-item.expanded .sonata-media-gallery-media-item-link {
          cursor: default; }
          #content #sonata-media-gallery-media-list .sonata-media-gallery-media-item.expanded .sonata-media-gallery-media-item-link .media-object {
            transition: none;
            height: 100%;
            width: auto; }
          #content #sonata-media-gallery-media-list .sonata-media-gallery-media-item.expanded .sonata-media-gallery-media-item-link .media-btns {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            background-color: black;
            background-color: rgba(0, 0, 0, 0.5);
            -webkit-transition: opacity 0.2s linear 0s;
            -moz-transition: opacity 0.2s linear 0s;
            -o-transition: opacity 0.2s linear 0s;
            transition: opacity 0.2s linear 0s;
            opacity: 0;
            /* Good browsers */
            -moz-opacity: 0;
            /* Netscape */
            -khtml-opacity: 0;
            /* Safari 1.x */
            filter: alpha(opacity=0);
            /* IE 5-7 */
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            /* IE 8 */ }
            #content #sonata-media-gallery-media-list .sonata-media-gallery-media-item.expanded .sonata-media-gallery-media-item-link .media-btns > span {
              display: inline-block;
              cursor: pointer;
              text-align: center;
              height: 20px;
              line-height: 23px;
              width: 20px;
              vertical-align: middle;
              padding: 8px;
              -webkit-transition: background-color 0.2s ease-in 0s;
              -moz-transition: background-color 0.2s ease-in 0s;
              -o-transition: background-color 0.2s ease-in 0s;
              transition: background-color 0.2s ease-in 0s; }
              #content #sonata-media-gallery-media-list .sonata-media-gallery-media-item.expanded .sonata-media-gallery-media-item-link .media-btns > span.zoom img {
                background: url("/bundles/imhbase/images/sprite.png") no-repeat scroll -96px -131px;
                height: 20px;
                width: 19px; }
              #content #sonata-media-gallery-media-list .sonata-media-gallery-media-item.expanded .sonata-media-gallery-media-item-link .media-btns > span.close img {
                background: url("/bundles/imhbase/images/sprite.png") no-repeat scroll -115px -131px;
                height: 12px;
                width: 12px; }
          #content #sonata-media-gallery-media-list .sonata-media-gallery-media-item.expanded .sonata-media-gallery-media-item-link:hover {
            /*.media-bar {
              @include transform(translate(0, 0%));
            }*/ }
            #content #sonata-media-gallery-media-list .sonata-media-gallery-media-item.expanded .sonata-media-gallery-media-item-link:hover .media-object {
              -webkit-transform: none;
              -moz-transform: none;
              -o-transform: none;
              transform: none; }
            #content #sonata-media-gallery-media-list .sonata-media-gallery-media-item.expanded .sonata-media-gallery-media-item-link:hover .media-btns {
              opacity: 1;
              /* Good browsers */
              -moz-opacity: 1;
              /* Netscape */
              -khtml-opacity: 1;
              /* Safari 1.x */
              filter: alpha(opacity=100);
              /* IE 5-7 */
              -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
              /* IE 8 */ }
              #content #sonata-media-gallery-media-list .sonata-media-gallery-media-item.expanded .sonata-media-gallery-media-item-link:hover .media-btns > span:hover {
                background-color: black;
                background-color: rgba(0, 0, 0, 0.8); }
          #content #sonata-media-gallery-media-list .sonata-media-gallery-media-item.expanded .sonata-media-gallery-media-item-link:after {
            display: none; }
  #content #spinner, #content #infscr-loading {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -22px 0 0 -22px; }
    #content #spinner img, #content #infscr-loading img {
      display: block; }
  #content #spinner {
    -webkit-transition: opacity 0.2s linear 0s;
    -moz-transition: opacity 0.2s linear 0s;
    -o-transition: opacity 0.2s linear 0s;
    transition: opacity 0.2s linear 0s;
    opacity: 0;
    /* Good browsers */
    -moz-opacity: 0;
    /* Netscape */
    -khtml-opacity: 0;
    /* Safari 1.x */
    filter: alpha(opacity=0);
    /* IE 5-7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 8 */
    margin: -19px 0 0 -19px;
    z-index: -1; }

/*# sourceMappingURL=gallery.css.map */
