# Cache and logs (Symfony2)
/app/cache/*
/app/logs/*

# Assets and user uploads
/web/bundles/
/web/uploads/

# Managed by Composer
/app/bootstrap.php.cache
/vendor/
/bin/

# Parameters
/app/config/parameters.yml

# Build data
/build/

# Composer PHAR
/composer.phar
