.c-sub-title {
  font-family: 'ethos_regular_italic', $font-fallback;
  font-size: $sixteenpx;
  color: $color-grey-dark;
  margin-top: 20px;
  letter-spacing: 0.04em;
}

@media (min-width: $screen-sm-min) {

  .c-sub-title {
    font-size: $sixteenpx;
    margin-top: 30px;
  }
}