<nav class="imh__navigation">
    <div class="container imh__container">
        {% spaceless %}
            {{ knp_menu_render('main', {'currentAsLink':false, 'allow_safe_labels': true} ) }}
        {% endspaceless %}
    </div>
</nav>