{% block loader %}
    {% spaceless %}
    <div class="imh-loader">
        <div class="imh__shutter">
            <div class="imh-opening-col">
                <div class="imh-opening-shutter" data-shutter></div>
                <div class="imh-opening-shutter" data-shutter></div>
            </div>
            <div class="imh-opening-col imh-opening-col--last">
                <div class="imh-opening-shutter" data-shutter></div>
                <div class="imh-opening-shutter" data-shutter></div>
            </div>
        </div>

        <div class="imh__opening" data-opening>
            <div class="imh__progress" data-progress>
                <div class="imh-progress-bar" data-progress-bar></div>
                <p class="imh-progress-counter" data-progress-counter>0 %</p>
            </div>

            {% block intro %}
            <div class="imh__intro">
                <hgroup class="imh__intro-heading-group">
                    <h1 class="imh-intro-title helper-size-large">Ionella<strong class="imh-title-strong"> Marinutsa</strong></h1>
                    <h2 class="imh-intro-subtitle helper-size-medium">Official Website</h2>
                </hgroup>
            </div>
            <div class="imh-mouse">
                <p class="imh-mouse__info">Scroll</p>
                <div class="imh-mouse__elt imh-mouse__elt--end"></div>
                <div class="imh-mouse__elt imh-mouse__elt--center"></div>
                <div class="imh-mouse__elt imh-mouse__elt--end imh-mouse__elt--end-b"></div>
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </div>
            {% endblock %}
        </div>
    </div>
    {% endspaceless %}
{% endblock %}