<aside class="imh__sidebar" data-sidebar>
    {#<div class="block-triangle"></div>#}

    {% block menu_display '' %}

    {% spaceless %}
    <div class="imh__sidebar-verticalcenter">
        {% block menu_navigation %}
            <div class="imh__navigation-menu">
                <h3 class="imh__navigation-menu-title text-uppercase">
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    {{ 'sonata.media.gallery.menu.title_1'|trans }}
                </h3>
                {{ knp_menu_render('main', {'currentAsLink': false}) }}
            </div>
        {% endblock %}

        {% block menu_gallery %}
            <div class="imh__navigation-menu imh__gallery-menu">
                <h3 class="imh__navigation-menu-title text-uppercase">
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    {{ 'sonata.media.gallery.menu.title_2'|trans }}
                </h3>
                {{ knp_menu_render('gallery', {'currentAsLink': false, 'allow_safe_labels': true}) }}
            </div>
        {% endblock %}

        {% block menu_social '' %}
    </div>
    {% endspaceless %}
</aside>
