<aside id="sidebar-main">
    {#<div class="block-triangle"></div>#}
    {% block menu_navigation %}
        <div class="navigation-menu">
            <h4 class="title">
                <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                {{ 'sonata.media.gallery.menu.title_1'|trans }}
            </h4>
            {{ knp_menu_render('main', {'currentAsLink':false}) }}
        </div>
    {% endblock %}

    {% block menu_gallery %}
        <div class="navigation-menu gallery-menu">
            <h4 class="title">
                <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                {{ 'sonata.media.gallery.menu.title_2'|trans }}
            </h4>
            {{ knp_menu_render('gallery', {'currentAsLink':false, 'allow_safe_labels': true}) }}
        </div>
    {% endblock %}
</aside>
