$fa-font-path: "../../../../assets/vendor/components-font-awesome/fonts";
@import "../main";

.imh__container--wrapper {
  padding: 26px 60px 62px;
}

.imh__repertoire {
  @include make-row();
}

.imh__repertoire-wrapper {
  @include clearfix();
  margin-top: 110px;
  font-size: $fourteenpx;

  > div {
    min-height: 240px;
    padding: 0;
  }
}

.imh__repertoire-image {
  @include img-responsive();
  @include box-shadow(0, 0, 9px, 1px, $color-grey-light);
  border-radius: 50%;
  border: 6px solid $color-white;
}

.imh__repertoire-description {
  p {
    margin: 2px 0;

    &.work {
      font-size: $elevenpx;
      margin: 10px 0;
      text-transform: uppercase;
    }

    &.arrangement {
      font-style: italic;
    }
  }
}

.imh__repertoire-duration {
  font-style: italic;
  font-size: 13px;
}

// Media queries
// ==================================================
@media (max-width: $screen-xs-max) {
  .imh__container {
    text-align: center;
  }

  .imh__container--wrapper {
    padding: 15px 0;
  }

  .imh__repertoire-wrapper {
    margin-top: 0;

    > div {
      padding: 30px 15px 0 15px;
      min-height: inherit;
    }

    > div:nth-child(odd) {
      background-color: $color-grey-ultralight;
    }
  }

  .imh__repertoire-col {
    padding: 0;
  }

  .imh__repertoire-image {
    display: inline-block;
    width: 150px;
  }

  .imh__repertoire-description {
    padding: 20px 0 30px;
    font-size: $elevenpx;
  }

  .imh__repertoire-description--last {
    border-bottom: 0;
    margin-bottom: 0;
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .imh__repertoire-col {
    float: none;
    display: table-cell;
    vertical-align: middle;
  }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {  }
@media (min-width: $screen-lg-min) {  }



